---
import {
  ArrowsClockwiseIcon,
  FastForwardIcon,
  FileCodeIcon,
  GitBranchIcon,
  MagicWandIcon,
  MouseIcon,
  PlugsConnectedIcon,
  TimerIcon,
} from '@phosphor-icons/react';
import { SparkleElement } from '../../../../components';
import Bullets from '../../../../components/Bullets';
import Link from '../../../../components/Link.astro';
import FeaturesHr from '../../_components/FeaturesHr.astro';
---

<ul class="features">
  <li>
    <TimerIcon />
    <h3>Instant Onboarding</h3>
    <p>Onboard new developers in seconds with nothing to install or configure.</p>
    <Bullets total={6}>
      <Bullets.Item>
        <MouseIcon weight="bold" /> One-click environment setup
      </Bullets.Item>
      <Bullets.Item>
        <PlugsConnectedIcon weight="bold" /> Zero-install remote development
      </Bullets.Item>
      <Bullets.Item>
        <FastForwardIcon weight="bold" /> 30 second developer onboarding
      </Bullets.Item>
    </Bullets>
  </li>
  <FeaturesHr vertical />
  <li>
    <FastForwardIcon />
    <h3>Streamlined Efficiency</h3>
    <strong class="hours">
      <SparkleElement sparkleCount={3} minSize={0.25} maxSize={0.75}><span class="text-gradient">300</span></SparkleElement>
      <small>Hours saved for<br />every developer</small>
    </strong>
    <p>Diploi saves 300 hours for every developer, every year.</p>
    <Link href="#graphs">Learn more</Link>
  </li>
</ul>

<style lang="scss">
  .features {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    gap: 32px;

    @media (max-width: 860px) {
      grid-template-columns: 1fr;
      gap: 48px;

      :global(hr) {
        display: none;
      }
    }
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
  }

  li > svg {
    width: 32px;
    height: 32px;
  }

  a {
    text-underline-offset: 4px;
    color: inherit;
  }

  .hours {
    display: flex;
    align-items: center;
    gap: 12px;

    span {
      font-size: 4rem;
      font-weight: 900;
      line-height: 56px;
    }

    > small {
      font-size: 0.875rem;
      font-weight: normal;
      color: var(--color-text-secondary);
    }
  }
</style>
