---
import { InfinityIcon } from '@phosphor-icons/react';
import FeaturesSection from '../../_components/FeaturesSection.astro';
import FeaturesSectionHeader from '../../_components/FeaturesSectionHeader.astro';
import DevLifecycleGraph from '../../dev/_components/DevLifecycleGraph.astro';
---

<FeaturesSection>
  <FeaturesSectionHeader slot="header">
    <InfinityIcon />
    <h2>Support for the Full Lifecycle of an App</h2>
    <p>We take care of the full lifecycle of your app. You can spin up any kind of environment with a single click.</p>
  </FeaturesSectionHeader>
  <DevLifecycleGraph />
</FeaturesSection>
