---
import Help from '../../../../components/Help.astro';
import { features } from '../../../../content/features';
import FeaturesHero from '../../_components/FeaturesHero.astro';
import TeamsHeroFeatures from './TeamsHeroFeatures.astro';

const calendlyUrl = import.meta.env.VITE_CALENDLY_URL;

const feature = features.find((feature) => feature.id === 'teams')!;
---

<FeaturesHero>
  <h1 slot="title">{feature.title}</h1>
  <p slot="description">
    Diploi gives your team the workflow to focus on code and ship faster. Onboarding new developers now takes seconds, not days.
  </p>
  <TeamsHeroFeatures slot="features" />
  <Fragment slot="callout">
    <a class="button" target="_blank" href={calendlyUrl}>Book a Demo</a>
    <Help>We'll help your team get started. Book a 30-minute demo and let's discuss your needs.</Help>
  </Fragment>
  <feature.bg weight="thin" slot="icon" />
  <feature.bg slot="mask" />
</FeaturesHero>

<style lang="scss">
  .button {
    margin-top: 32px;
  }
</style>
