---
import {
  CloudIcon,
  FileCodeIcon,
  HardDrivesIcon,
  KeyIcon,
  LockSimpleIcon,
  PlugsConnectedIcon,
  ShieldCheckIcon,
  SquareIcon,
  ToggleRightIcon,
  TriangleIcon,
} from '@phosphor-icons/react';
import Bullets from '../../../../components/Bullets';
import FeaturesHr from '../../_components/FeaturesHr.astro';
import FeaturesSection from '../../_components/FeaturesSection.astro';
import FeaturesSectionHeader from '../../_components/FeaturesSectionHeader.astro';
---

<FeaturesSection>
  <FeaturesSectionHeader slot="header">
    <LockSimpleIcon />
    <h2 id="security">Secure by Default</h2>
    <p>
      Diploi runs fully in the cloud, with nothing installed locally. With no local installs, access is fully controlled and common attack
      surfaces are eliminated.
    </p>
  </FeaturesSectionHeader>
  <ul class="features">
    <li>
      <SquareIcon weight="thin" className="bg" aria-hidden />
      <CloudIcon />
      <h3>Nothing Installed Locally</h3>
      <p>Local devices hold no source code or infrastructure access, leaving malware and ransomware with nothing to target.</p>
      <Bullets total={6}>
        <Bullets.Item>
          <PlugsConnectedIcon weight="bold" /> Zero-install remote development
        </Bullets.Item>
        <Bullets.Item>
          <CloudIcon weight="bold" /> Cloud IDE
        </Bullets.Item>
      </Bullets>
    </li>
    <FeaturesHr vertical />
    <li>
      <SquareIcon weight="thin" className="bg" aria-hidden />
      <ToggleRightIcon />
      <h3>Complete Control</h3>
      <p>Centralize and manage access to your entire infrastructure from a single, unified control panel.</p>
      <Bullets start={2} total={6}>
        <Bullets.Item>
          <LockSimpleIcon weight="bold" /> Central access control
        </Bullets.Item>
        <Bullets.Item>
          <KeyIcon weight="bold" /> Central authentication
        </Bullets.Item>
      </Bullets>
    </li>
    <FeaturesHr vertical />
    <li>
      <TriangleIcon weight="thin" className="bg" aria-hidden />
      <ShieldCheckIcon />
      <h3>Isolated Environments</h3>
      <p>Developers run in fully isolated VMs. No environment shares data, processes, or resources.</p>
      <Bullets start={4} total={6}>
        <Bullets.Item>
          <HardDrivesIcon weight="bold" /> Individual VMs
        </Bullets.Item>
        <Bullets.Item>
          <FileCodeIcon weight="bold" /> Infrastructure as code
        </Bullets.Item>
      </Bullets>
    </li>
  </ul>
</FeaturesSection>

<style lang="scss">
  .main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    margin-bottom: 64px;
    width: 100%;
    max-width: var(--max-width-page-section);
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    gap: 32px;

    @media (max-width: 860px) {
      grid-template-columns: 1fr;
      gap: 48px;

      :global(hr) {
        display: none;
      }
    }

    li {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 0;

      &:nth-of-type(2) .bg {
        translate: -5% 2%;
      }

      &:nth-of-type(3) .bg {
        translate: -5% -30%;
      }
    }

    li > svg {
      width: 32px;
      height: 32px;
    }

    a {
      text-underline-offset: 4px;
      color: inherit;
    }

    .bg {
      position: absolute;
      width: 150% !important;
      height: 150% !important;
      aspect-ratio: 1/1;
      translate: -40% -22%;
      color: white;
      opacity: 0.02;
      z-index: -1;

      @media (max-width: 860px) {
        display: none;
      }
    }
  }
</style>
