---
import Footer from '../../components/Footer.astro';
import Navigation from '../../components/Navigation.astro';
import Layout from '../../layouts/Layout.astro';
import AiHero from './_components/AiHero.astro';
import AiEditors from './_components/AiEditors.astro';
import AiPricing from './_components/AiPricing.astro';
import AiDevOps from './_components/AiDevOps.astro';
import AiRoadmap from './_components/AiRoadmap.astro';
import AiStackBuilder from './_components/AiStackBuilder.astro';
import AiCallouts from './_components/AiCallouts.astro';
---

<Layout title="Diploi – Platform for AI Dev">
  <Navigation selected="ai" />
  <main>
    <AiHero />
    <hr />
    <AiDevOps />
    <hr />
    <AiEditors />
    <hr />
    <AiStackBuilder />
    <hr />
    <AiPricing />
    {/*<hr />*/}
    {/*<AiRoadmap />*/}
    <hr />
    <AiCallouts />
  </main>
  <Footer />
</Layout>

<style>
  main {
    gap: 128px;

    @media (max-width: 860px) {
      gap: 64px;
    }
  }
</style>
