---
import Layout from '../../layouts/Layout.astro';
import Navigation from '../../components/Navigation.astro';
import TemplateCards from '../../components/templates/TemplateCards.astro';
import Footer from '../../components/Footer.astro';
import { templates } from '../../components/templates/templates';
import Divider from '../../components/Divider.astro';
import Logo from '../../components/Logo.astro';
import {
  AirplaneTakeoff,
  CursorClick,
  HandWaving,
  PlugsConnected,
  Target,
} from '@phosphor-icons/react';
import logoImage from '../../images/diploi-logo.svg';
import { getCollection, getEntry } from 'astro:content';

export async function getStaticPaths() {
  const articles = await getCollection('blog');
  return articles.map((article) => ({
    params: { article: article.slug },
    props: { entry: article },
  }));
}

const { entry } = Astro.props;

const { Content } = await entry.render();
---

<Layout title={`Diploi – ${entry.data.title}`}>
  <main>
    <Navigation selected="blog" />

    <h1 class="text-gradient">{entry.data.title}</h1>

    <article class="article">
      <Content />
    </article>

    <article class="callout">
      <section>
        <h2><AirplaneTakeoff weight="bold" /> Get Started</h2>
        <p>
          Sign up using your GitHub account and receive 50 € in free credits to
          explore and experiment with. Development is about to get <span
            class="text-gradient">magical</span
          >.
        </p>

        <a
          data-event="signup_click"
          class="button"
          href="https://console.diploi.com/sign-up"
          ><HandWaving weight="fill" />Sign Up →</a
        >
      </section>
    </article>
  </main>

  <Footer />
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  h1 {
    position: relative;
    margin: 80px 0;
    max-width: 14ch;
    text-align: center;
    font-size: var(--font-header-size);
    font-weight: bold;
    font-family: var(--font-header);
    line-height: 1.2;
  }

  h1::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/starfield.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

    transform: scale(6) rotate(45deg);
    opacity: 0.2;
  }

  .article {
    p:has(img:first-child:last-child) {
      margin: 0;
      opacity: 1;
    }

    img {
      width: 100%;
      border-radius: 12px;
    }
  }

  .callout {
    position: relative;
    margin-top: 128px;
  }

  .callout h2 {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 0;
  }

  .callout h2 > svg {
    fill: url(#gradient-three);
  }

  .callout::after {
    content: '';
    display: block;
    position: absolute;
    top: -48px;
    left: -48px;
    width: calc(100% + 96px);
    height: calc(100% + 96px);
    border-radius: 24px;
    background-image: linear-gradient(
      -45deg,
      var(--color-primary),
      var(--color-secondary)
    );
    opacity: 0.1;
    z-index: -1;
  }

  .callout form {
    display: flex;
    gap: 16px;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .email {
    text-decoration: none;
    color: var(--color-white);
  }

  @media (max-width: 900px) {
    .callout::after {
      display: none;
    }

    .callout form {
      flex-direction: column;
    }
  }
</style>
