---
import { getCollection, render } from 'astro:content';
import {
  AirplaneTakeoff,
  HandWaving,
  User,
  CalendarBlank,
} from '@phosphor-icons/react';
import Layout from '../../layouts/Layout.astro';
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

export async function getStaticPaths() {
  const articles = await getCollection('blog');
  return articles.map((article) => ({
    params: { article: article.id },
    props: { entry: article },
  }));
}

const { entry } = Astro.props;

const { Content } = await render(entry);
---

<Layout title={`Diploi – ${entry.data.title}`}>
  <main>
    <Navigation selected="blog" />

    <div class="title">
      <h1 class="text-gradient">{entry.data.title}</h1>
      <div class="info">
        <p><User /> {entry.data.author}</p>
        <p>
          <CalendarBlank />
          {
            new Date(entry.data.timestamp).toLocaleDateString('en-US', {
              month: 'long',
              day: 'numeric',
              year: 'numeric',
            })
          }
        </p>
      </div>
    </div>

    <article class="article">
      <Content />
    </article>

    <article class="callout">
      <section>
        <h2><AirplaneTakeoff weight="bold" /> Get Started</h2>
        <p>
          Sign up using your GitHub account and receive 50 € in free credits to
          explore and experiment with. Development is about to get <span
            class="text-gradient">magical</span
          >.
        </p>

        <a
          data-event="signup_click"
          class="button"
          href="https://console.diploi.com/sign-up"
          ><HandWaving weight="fill" />Sign Up →</a
        >
      </section>
    </article>
  </main>

  <Footer />
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }

  .title h1 {
    position: relative;
    margin: 0;
    margin-top: 80px;
    max-width: 14ch;
    text-align: center;
    font-size: var(--font-header-size);
    font-weight: bold;
    font-family: var(--font-header);
    line-height: 1.2;
  }

  .title h1::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: min(300px, 30vw);
    aspect-ratio: 2/1;
    background-image: url(/starfield.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

    transform: translate(-50%, -50%) scale(6) rotate(45deg);
    opacity: 0.2;
  }

  .title .info {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 80px;

    > p {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }

  .article {
    p:has(img:first-child:last-child) {
      margin: 0;
      opacity: 1;
    }

    img {
      width: 100%;
      border-radius: 12px;
    }

    a {
      text-decoration-thickness: 2px;
      color: white;
    }

    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      margin: 40px 0;
      width: 100%;
      max-width: 55ch;

      > img {
        width: 100%;
        max-width: 400px;
      }

      > figcaption {
        font-style: italic;
        font-size: 16px;
        opacity: 0.7;
      }
    }

    hr {
      display: flex;
      justify-content: center;
      border: none;
      margin: 40px 0;

      &::before {
        content: '⁂';
        color: white;
        opacity: 0.2;
      }
    }
  }

  .callout {
    position: relative;
    margin-top: 128px;
  }

  .callout h2 {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 0;
  }

  .callout h2 > svg {
    fill: url(#gradient-three);
  }

  .callout::after {
    content: '';
    display: block;
    position: absolute;
    top: -48px;
    left: -48px;
    width: calc(100% + 96px);
    height: calc(100% + 96px);
    border-radius: 24px;
    background-image: linear-gradient(
      -45deg,
      var(--color-primary),
      var(--color-secondary)
    );
    opacity: 0.1;
    z-index: -1;
  }

  .callout form {
    display: flex;
    gap: 16px;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .email {
    text-decoration: none;
    color: var(--color-white);
  }

  @media (max-width: 900px) {
    .callout::after {
      display: none;
    }

    .callout form {
      flex-direction: column;
    }
  }
</style>
