---
import { getCollection } from 'astro:content';
import { PageTitle, Section } from '../../components';
import Footer from '../../components/Footer.astro';
import Navigation from '../../components/Navigation/Navigation.astro';
import Article from '../../components/blog/Article.astro';
import Layout from '../../layouts/Layout.astro';
import FeaturesCallouts from '../features/_components/FeaturesCallouts.astro';
import FeaturesHr from '../features/_components/FeaturesHr.astro';
import LovableHr from '../lovable/_components/LovableHr.astro';
import { createBlogSchema } from './_utils/createBlogSchema';

const articles = await getCollection('blog');

const latest = articles[0];
const highlight = articles.find((article) => article.data.hightlight === true && article.id !== latest.id);
const list = articles.filter((article) => ![latest.id, highlight?.id].includes(article.id));

const schema = createBlogSchema({
  url: new URL(Astro.url.pathname, Astro.site),
  blogPosts: articles.map((article) => ({
    ...article.data,
    url: new URL(`/blog/${article.id}`, Astro.site),
    externalUrl: article.data.url,
  })),
});
---

<Layout
  title="Diploi - Blog"
  description="Tutorials, insights and case studies about building and deploying modern apps with remote development and one-click deployment workflows."
  ogUrlMatchCanonical={true}
>
  <script slot="head" type="application/ld+json" set:html={JSON.stringify(schema)} />
  <Navigation selected="blog" />
  <main>
    <Section>
      <div class="content">
        <PageTitle tagText="Blog" title="See what the team has been up to" />
        <div class="hero">
          <Article {...latest.data} />
          <FeaturesHr vertical />
          <div class="side">
            <Article {...highlight!.data} />
          </div>
        </div>
        <FeaturesHr />
        <div class="latest">
          {
            list.slice(0, 3).map((article, index) => (
              <>
                <Article {...article.data} />
                {index < 2 && <FeaturesHr vertical />}
              </>
            ))
          }
        </div>
        <LovableHr />
        <div class="posts">
          {list.slice(3).map((article) => <Article {...article.data} image={false} />)}
        </div>
      </div>
    </Section>
    <FeaturesCallouts />
  </main>
  <Footer />
</Layout>

<style lang="scss">
  main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-huge);
  }

  .title-and-description {
    text-align: center;
  }

  .hero {
    display: flex;
    flex-direction: row;
    gap: 32px;

    > :global(a) {
      flex: 2;
    }

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  .hero > .side {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;
  }

  .latest {
    display: flex;
    gap: 32px;

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  .posts {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    width: 100%;

    > :global(a):not(:last-of-type)::after {
      content: '';
      display: block;
      margin: 32px 0;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, var(--color-border), transparent);
    }
  }

  .title {
    width: 100%;
    overflow: hidden;
  }

  .title h1 {
    position: relative;
    margin: 80px 0;
    text-align: center;
    font-size: var(--font-header-size);
    font-weight: bold;
    font-family: var(--font-header);
    line-height: 1.2;
  }

  h1::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/starfield.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

    transform: scale(6) rotate(45deg);
    opacity: 0.2;
  }
</style>
