---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';
import Article from '../../components/blog/Article.astro';
import { Section, GetStarted, PageTitle } from '../../components';

const contentArticles = await getCollection('blog');

const devtoArticles = await fetch('https://dev.to/api/articles?username=diploi&state=all').then(
  (response) =>
    response.json() as Promise<
      {
        url: string;
        title: string;
        description: string;
        published_timestamp: string;
        user: { name: string };
      }[]
    >
);
if (!devtoArticles) {
  throw new Error('Failed to load dev.to articles');
}

const articles = [
  ...contentArticles.map((article) => ({
    title: article.data.title,
    description: article.data.description,
    image: article.data.image,
    url: `/blog/${article.id}`,
    timestamp: article.data.timestamp,
    author: article.data.author,
  })),
  ...devtoArticles.map((article) => ({
    title: article.title,
    description: article.description,
    url: article.url,
    timestamp: article.published_timestamp,
    author: article.user.name.split(' ')[0],
  })),
].sort((a, b) => new Date(b.timestamp).getTime() - new Date(a.timestamp).getTime());
---

<Layout title="Diploi – Blog">
  <Navigation selected="blog" />
  <main>
    <Section>
      <div class="content">
        <PageTitle tagText="Blog" title="See what the team has been up to" />
        <div class="posts">
          {articles.map((article) => <Article {...article} />)}
        </div>
      </div>
    </Section>
    <hr />
    <Section>
      <GetStarted />
    </Section>
  </main>
  <Footer />
</Layout>

<style>
  main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-huge);
  }

  .title-and-description {
    text-align: center;
  }

  .posts {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
  }

  .title {
    width: 100%;
    overflow: hidden;
  }

  .title h1 {
    position: relative;
    margin: 80px 0;
    text-align: center;
    font-size: var(--font-header-size);
    font-weight: bold;
    font-family: var(--font-header);
    line-height: 1.2;
  }

  h1::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/starfield.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

    transform: scale(6) rotate(45deg);
    opacity: 0.2;
  }
</style>
