---
import { ArrowRight } from '@phosphor-icons/react';
import { Footer, Icon, PageTitle, Section, SubSection, SubSectionHeader } from '../../components';
import Navigation from '../../components/Navigation/Navigation.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Diploi - Jobs" description="Check our available job openings.">
  <Navigation selected="jobs" />
  <main>
    <Section isNarrow>
      <PageTitle tagText="Jobs" title="Join Us" />
      <SubSection>
        <SubSectionHeader title="Who We Are" icon="HandWaving" />

        <p>
          Diploi is redefining cloud development with a <b>simple</b>,
          <b>scalable</b>, and <b>powerful</b> PaaS solution. Our goal is to provide a Developer Experience that looks and feels just
          <span class="text-gradient">magical</span>.
          <br /><br />
          We're still early on, but with recent funding and and a mindset to innovate, we aim to grow fast! Now, we're looking for more passionate
          people to join us.
        </p>
      </SubSection>
      <SubSection>
        <SubSectionHeader title="Who We're Looking For" icon="MagnifyingGlass" />
        <p>We are hiring Software Developers who obsess with</p>
        <ul class="checks">
          <li>
            <Icon isGradient name="CheckSquare" weight="regular" /> Developer Experience
          </li>
          <li>
            <Icon isGradient name="CheckSquare" weight="regular" /> Artificial Intelligence
          </li>
          <li>
            <Icon isGradient name="CheckSquare" weight="regular" /> Scalability &amp; Performance
          </li>
          <li>
            <Icon isGradient name="CheckSquare" weight="regular" /> Working on hard tasks and having a good time
          </li>
        </ul>
        <p>
          Experience with social media and online publishing is seen as a bonus.
          <br /><br />
          You don't need to check every box, but if you're <b>curious, driven and love solving hard problems</b>, we'd love to hear from
          you!
        </p>
      </SubSection>
      <SubSection>
        <SubSectionHeader title="Open Positions" icon="UserCircleDashed" />
        <ul class="positions">
          <hr />
          <a href="/jobs/ai" aria-role="listitem">
            <Icon name="CodeBlock" weight="regular" sizeRem={2} class="job-position-icon" />
            <h3>Full-Stack / AI Engineer <ArrowRight size={24} /></h3>
            <p>
              Work across frontend & backend to enhance our solution. Enhancing our the AI capabilites of Diploi will be a big part of your
              work.
            </p>
          </a>

          <hr />
          <li>
            <Icon name="HeadCircuit" weight="regular" sizeRem={2} class="job-position-icon" />
            <h3>Backend / DevOps Engineer</h3>
            <p>Focus on performance, reliability, and cloud automation.</p>
          </li>
          {
            /*
              <hr />
              <li>
                <Icon name="RocketLaunch" weight="regular" sizeRem={2} class="job-position-icon" />
                <h3>Growth Hacker</h3>
                <p>Help optimize our go-to-market strategy.</p>
              </li>
            */
          }
          <hr />
        </ul>
        <p>
          <b>Not seeing your role or you might tick several boxes?</b> Reach out anyway, because we're looking for exceptional talent!
        </p>
      </SubSection>
      <SubSection>
        <article class="card large">
          <div class="title-and-description">
            <h2>
              <Icon isGradient name="EnvelopeOpen" isGradient sizeRem={3} /> How to apply
            </h2>
            <p>
              Email us at
              <a href="mailto:hiring@diploi.com">hiring@diploi.com</a>
              with
            </p>
            <ul class="checks">
              <li>
                <Icon name="ArrowRight" weight="regular" /> Your resume / LinkedIn / GitHub
              </li>
              <li>
                <Icon name="ArrowRight" weight="regular" /> A short intro about why you're interested
              </li>
              <li>
                <Icon name="ArrowRight" weight="regular" /> Any projects or code you're proud of
              </li>
            </ul>
            <p>
              Come and create <span class="text-gradient">magic</span> with us!
            </p>
          </div>
        </article>
      </SubSection>
    </Section>
  </main>
  <Footer />
</Layout>

<style lang="scss">
  @use '../../styles/mixins';

  p {
    max-width: unset;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-huge);

    .title-and-description {
      @include mixins.sparkle-bg;
    }
  }

  .checks {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      display: flex;
      align-items: center;
      gap: var(--space-l);
      font-size: 1.5rem;
    }
  }

  .positions {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;

    > li,
    > a {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: var(--space-s);
      align-items: flex-start;
      background: transparent;
      padding: 0;
      padding: var(--space-xxl) 0;
      overflow: hidden;
      text-decoration: none;

      :global(.job-position-icon) {
        @include mixins.card-bg-icon;
        @include mixins.respond-to('tablet') {
          left: unset;
          right: 0;
          width: 8rem !important;
          height: 8rem !important;
          top: 50%;
          transform: translate(0%, -50%);
        }
      }

      > svg {
        margin-bottom: var(--space-m);
        opacity: 0.5;
      }

      > h3 {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 24px;

        > svg {
          opacity: 0.5;
        }
      }

      > h3,
      p {
        margin: 0;
      }
    }
  }

  .card {
    @include mixins.card-desktop;
    @include mixins.sparkle-bg(2);
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);

    @include mixins.respond-to('tablet') {
      align-items: flex-start;
    }

    h2 {
      display: flex;
      align-items: center;
      gap: var(--space-l);
    }
  }
</style>
