---
import {
  CopyIcon,
  FastForwardIcon,
  FileCodeIcon,
  FileTextIcon,
  GitBranchIcon,
  GitMergeIcon,
  HardDrivesIcon,
  LinkIcon,
  MagicWandIcon,
  MouseIcon,
  PlugsConnectedIcon,
  ShareIcon,
  SquareIcon,
  TriangleIcon,
  UsersThreeIcon,
} from '@phosphor-icons/react';
import Bullets from '../../../components/Bullets';
import FeaturesHr from '../../features/_components/FeaturesHr.astro';
import FeaturesSectionHeader from '../../features/_components/FeaturesSectionHeader.astro';
---

<section class="main">
  <FeaturesSectionHeader>
    <UsersThreeIcon />
    <h2>Built for Collaboration</h2>
    <p>
      Teamwork on Diploi is effortless. From sharing a demo link to hopping into a teammate's command line, everything is just a click away.
    </p>
  </FeaturesSectionHeader>
  <ul class="features">
    <li>
      <SquareIcon weight="thin" className="bg" aria-hidden />
      <HardDrivesIcon />
      <h3>Individual Environments</h3>
      <p>Your own environment. Your own IDE. Connect to others whenever you need to.</p>
      <Bullets total={9}>
        <Bullets.Item>
          <PlugsConnectedIcon weight="bold" /> Zero-install remote development
        </Bullets.Item>
        <Bullets.Item>
          <MouseIcon weight="bold" /> One-click environment setup
        </Bullets.Item>
        <Bullets.Item>
          <FastForwardIcon weight="bold" /> 30 second developer onboarding
        </Bullets.Item>
      </Bullets>
    </li>
    <FeaturesHr vertical />
    <li>
      <TriangleIcon weight="thin" className="bg" aria-hidden />
      <GitMergeIcon />
      <h3>GitHub Workflow</h3>
      <p>Git that works the way you do. Pull requests, Actions, or plain CLI.</p>

      <Bullets start={3} total={9}>
        <Bullets.Item>
          <GitBranchIcon weight="bold" /> GitHub integration
        </Bullets.Item>
        <Bullets.Item>
          <MagicWandIcon weight="bold" /> Automatic Git, CI/CD, SSL
        </Bullets.Item>
        <Bullets.Item>
          <FileCodeIcon weight="bold" /> Infrastructure as code
        </Bullets.Item>
      </Bullets>
    </li>
    <FeaturesHr vertical />
    <li>
      <SquareIcon weight="thin" className="bg" aria-hidden />
      <ShareIcon />
      <h3>Easy Previews</h3>
      <p>Want to demo a feature? Share the link. You can spin up endless environments.</p>
      <Bullets start={6} total={9}>
        <Bullets.Item>
          <LinkIcon weight="bold" /> Shareable environment URLs
        </Bullets.Item>
        <Bullets.Item>
          <CopyIcon weight="bold" /> One-click environment cloning
        </Bullets.Item>
        <Bullets.Item>
          <FileTextIcon weight="bold" /> Real-time logging
        </Bullets.Item>
      </Bullets>
    </li>
  </ul>
</section>

<style lang="scss">
  .main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    margin-bottom: 64px;
    width: 100%;
    max-width: var(--max-width-page-section);
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    gap: 32px;

    @media (max-width: 860px) {
      grid-template-columns: 1fr;
      gap: 48px;

      :global(hr) {
        display: none;
      }
    }

    li {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 0;

      &:nth-of-type(2) .bg {
        translate: -5% 2%;
      }

      &:nth-of-type(3) .bg {
        translate: -5% -30%;
      }
    }

    li > svg {
      width: 32px;
      height: 32px;
    }

    a {
      text-underline-offset: 4px;
      color: inherit;
    }

    .bg {
      position: absolute;
      width: 150% !important;
      height: 150% !important;
      aspect-ratio: 1/1;
      translate: -40% -22%;
      color: white;
      opacity: 0.02;
      z-index: -1;

      @media (max-width: 860px) {
        display: none;
      }
    }
  }
</style>
