---
import { getCollection } from 'astro:content';
import { FilesIcon } from '@phosphor-icons/react';
import Article from '../../../components/blog/Article.astro';
import FeaturesSectionHeader from '../../features/_components/FeaturesSectionHeader.astro';

const articles = await getCollection('blog');
const lovableFilterWords = ['lovable', 'supabase', 'import', ' ai ', 'remote development'];
const lovableArticles = articles.filter((article) => lovableFilterWords.some((word) => article.data.title.toLowerCase().includes(word)));
---

<section class="main">
  <FeaturesSectionHeader>
    <FilesIcon />
    <h2>Resources For Lovable</h2>
    <p>
      Explore our collection of helpful resources related to Lovable. You can always <a href="mailto:hello@diploi.com">contact us</a> if you
      have any questions.
    </p>
  </FeaturesSectionHeader>
  <ul class="list">
    {
      lovableArticles.map((article) => (
        <li>
          <Article {...article.data} image={false} />
        </li>
      ))
    }
  </ul>
</section>

<style lang="scss">
  @use 'sass:math';
  @use '../../../styles/mixins';

  .main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width-page-section);
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > li {
      flex-direction: column;

      &:not(:last-of-type)::after {
        content: '';
        display: block;
        margin: 32px 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right, var(--color-border), transparent);
      }
    }
  }
</style>
