---
import {
  CopyIcon,
  FastForwardIcon,
  FileCodeIcon,
  FileTextIcon,
  GitBranchIcon,
  GitMergeIcon,
  HardDrivesIcon,
  LinkIcon,
  MagicWandIcon,
  MouseIcon,
  PlugsConnectedIcon,
  ShareIcon,
  SquareIcon,
  TriangleIcon,
  UsersThreeIcon,
} from '@phosphor-icons/react';
import AiSectionHeader from '../../ai/_components/AiSectionHeader.astro';
import AiHr from '../../ai/_components/AiHr.astro';
---

<section class="main">
  <AiSectionHeader>
    <UsersThreeIcon />
    <h2>Built for Collaboration</h2>
    <p>
      Teamwork on Diploi is effortless. From sharing a demo link to hopping into a teammate's command line, everything is just a click away.
    </p>
  </AiSectionHeader>
  <ul class="features">
    <li>
      <SquareIcon weight="thin" className="bg" aria-hidden />
      <HardDrivesIcon />
      <h3>Individual Environments</h3>
      <p>Your own environment. Your own IDE. Connect to others whenever you need to.</p>
      <ul data-row="0">
        <li><PlugsConnectedIcon weight="bold" /> Zero-install remote development</li>
        <li><MouseIcon weight="bold" /> One-click environment setup</li>
        <li><FastForwardIcon weight="bold" /> 30 second developer onboarding</li>
      </ul>
    </li>
    <AiHr vertical />
    <li>
      <TriangleIcon weight="thin" className="bg" aria-hidden />
      <GitMergeIcon />
      <h3>GitHub Workflow</h3>
      <p>Git that works the way you do. Pull requests, Actions, or plain CLI.</p>
      <ul data-row="1">
        <li><GitBranchIcon weight="bold" /> GitHub integration</li>
        <li><MagicWandIcon weight="bold" /> Automatic Git, CI/CD, SSL</li>
        <li><FileCodeIcon weight="bold" /> Infrastructure as code</li>
      </ul>
    </li>
    <AiHr vertical />
    <li>
      <SquareIcon weight="thin" className="bg" aria-hidden />
      <ShareIcon />
      <h3>Easy Previews</h3>
      <p>Want to demo a feature? Share the link. You can spin up endless environments.</p>
      <ul data-row="2">
        <li><LinkIcon weight="bold" /> Shareable environment URLs</li>
        <li><CopyIcon weight="bold" /> One-click environment cloning</li>
        <li><FileTextIcon weight="bold" /> Real-time logging</li>
      </ul>
    </li>
  </ul>
</section>

<style lang="scss">
  @use 'sass:math';
  @use '../../../styles/mixins';

  .main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    margin-bottom: 64px;
    width: 100%;
    max-width: var(--max-width-page-section);
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    gap: 32px;

    @media (max-width: 860px) {
      grid-template-columns: 1fr;
      gap: 48px;

      :global(hr) {
        display: none;
      }
    }

    li {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 0;

      &:nth-of-type(2) .bg {
        translate: -5% 2%;
      }

      &:nth-of-type(3) .bg {
        translate: -5% -30%;
      }
    }

    li > svg {
      width: 32px;
      height: 32px;
    }

    a {
      text-underline-offset: 4px;
      color: inherit;
    }

    li > ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 16px;

      li {
        display: flex;
        flex-direction: row;
        font-size: 1.25rem;
        color: var(--color-text-secondary);

        > svg {
          width: 22px;
          height: 22px;
        }
      }

      @for $c from 0 through 2 {
        &[data-row='#{$c}'] {
          @for $r from 1 through 3 {
            $i: ($c * 3) + $r;
            > li:nth-child(#{$r}) {
              > svg {
                color: color-mix(in lab, var(--color-primary), var(--color-secondary) ($i - 1) * math.div(100%, 8));
              }
            }
          }
        }
      }
    }

    .bg {
      position: absolute;
      width: 150% !important;
      height: 150% !important;
      aspect-ratio: 1/1;
      translate: -40% -22%;
      color: white;
      opacity: 0.02;
      z-index: -1;

      @media (max-width: 860px) {
        display: none;
      }
    }
  }
</style>
