---
import Footer from '../../../components/Footer.astro';
import Navigation from '../../../components/Navigation/Navigation.astro';
import { features } from '../../../content/features';
import Layout from '../../../layouts/Layout.astro';
import LovableHr from '../../lovable/_components/LovableHr.astro';
import FeaturesCallouts from '../_components/FeaturesCallouts.astro';
import AiDevOps from './_components/AiDevOps.astro';
import AiEditors from './_components/AiEditors.astro';
import AiHero from './_components/AiHero.astro';
import AiStackBuilder from './_components/AiStackBuilder.astro';

const feature = features.find((feature) => feature.id === 'ai')!;
---

<Layout
  title={`Diploi for ${feature.title} - ${feature.description}`}
  description="Diploi allows you to integrates AI in your remote development environments instantly. Work in VS Code or Cursor AI with no local setup."
>
  <Navigation selected="ai" />
  <main>
    <AiHero />
    <LovableHr />
    <AiEditors />
    <LovableHr />
    <AiDevOps />
    <LovableHr />
    <AiStackBuilder />
    <LovableHr />
    <FeaturesCallouts hide={['ai']} />
  </main>
  <Footer />
</Layout>

<style>
  main {
    gap: 128px;

    @media (max-width: 860px) {
      gap: 64px;
    }
  }
</style>
