---
import { CursorClickIcon } from '@phosphor-icons/react';
import StackBuilder from '../../../../components/StackBuilder/StackBuilder.astro';
import FeaturesSection from '../../_components/FeaturesSection.astro';
import FeaturesSectionHeader from '../../_components/FeaturesSectionHeader.astro';
---

<FeaturesSection>
  <FeaturesSectionHeader slot="header">
    <CursorClickIcon />
    <h2 id="stack-builder">Try Us Out</h2>
    <p>Choose from a constantly growing list of technologies to build your ideal stack. We'll take care of configuring your monorepo.</p>
  </FeaturesSectionHeader>
  <StackBuilder />
</FeaturesSection>

<style>
  :global(.stack-builder) :global(.callouts) {
    margin-top: -32px;
  }
</style>
