---
import { Info } from '@phosphor-icons/react';
import PricingToggle from './PricingToggle.astro';
---

<fieldset data-hours={20 * 8}>
  <legend>Used for</legend>

  <div id="type-container" class="development">
    <PricingToggle name="type" value="development" label="Development" />
    <PricingToggle name="type" value="testing" label="Testing" />
    <PricingToggle name="type" value="production" label="Production" />
    <p class="development help">
      <Info /> Assuming a developer uses the environment 7 hours / workday.
    </p>
    <p class="testing help">
      <Info /> A test environment needs to run only when needed, we assume 25 % of
      the time.
    </p>
    <p class="production help">
      <Info /> A production environment will run 24/7.
    </p>
  </div>
</fieldset>

<script>
  const developmentHours = 20 * 7;
  const testingHours = 180;
  const productionHours = 30 * 24;

  const hoursElement = document.querySelector(
    '[data-hours]'
  ) as HTMLFieldSetElement;
  const typeContainerElement = document.getElementById(
    'type-container'
  ) as HTMLDivElement;

  const updateHours = () => {
    const selectedType = (
      document.querySelector('input[name="type"]:checked') as HTMLInputElement
    ).value;

    let hours = developmentHours;
    if (selectedType === 'testing') hours = testingHours;
    if (selectedType === 'production') hours = productionHours;

    typeContainerElement.setAttribute('class', selectedType);
    hoursElement.setAttribute('data-hours', `${hours}`);

    document.dispatchEvent(new Event('pricing-update'));
  };

  document
    .querySelectorAll('input[name="type"]')
    .forEach(element => element.addEventListener('change', updateHours));

  (
    document.querySelector('input[value="development"]') as HTMLInputElement
  ).checked = true;
</script>

<style>
  fieldset {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 900px;
    border: none;
  }

  legend {
    display: flex;
    position: relative;
    float: left;
    width: 180px;
  }

  #type-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 16px;
  }

  #type-container > p {
    display: none;
    align-items: center;
    gap: 6px;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  #type-container > p > svg {
    transform: translateY(-1px);
  }

  #type-container.development .development {
    display: flex;
  }

  #type-container.testing .testing {
    display: flex;
  }

  #type-container.production .production {
    display: flex;
  }

  .help {
    font-size: 0.64rem;
    color: #b6bdc8;
  }
</style>
