---
import {
  Target,
  CursorClick,
  PlugsConnected,
  BookBookmark,
  SignIn,
  EnvelopeOpen,
  Envelope,
  AirplaneTakeoff,
  HandWaving,
  Timer,
  AirplaneTilt,
  Gauge,
  Video as VideoIcon,
  DiamondsFour,
  Package,
  RocketLaunch,
} from '@phosphor-icons/react';
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Logo from '../components/Logo.astro';
import Gradient from '../components/Gradient.astro';
import Chart from '../components/Chart.astro';
import arrow from '../images/arrow.svg';
import pipeline from '../images/pipeline.svg';
import Flow from '../components/Flow.astro';
import Video from '../components/Video.astro';
import Navigation from '../components/Navigation.astro';
import Divider from '../components/Divider.astro';
import Illustration from '../components/Illustration.astro';
import Spacer from '../components/Spacer.astro';
import Templates from '../components/templates/Templates.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Diploi – Magical Developer Experience">
  <main>
    <Navigation selected="home" />

    <article class="hero">
      <Logo />
      <h1><span class="text-gradient">Magical</span> Developer Experience</h1>
      <p>
        Single SaaS service for managing, developing and hosting your full
        application.
      </p>
      <div>
        <a class="button" data-event="signup_click" href="/launch">
          <RocketLaunch weight="fill" />
          Launch a New Project →
        </a>
        <a class="button basic" href="#video">
          <VideoIcon weight="fill" />
          Showcase Video →
        </a>
      </div>

      <img
        width={3084}
        height={1024}
        class="pipeline"
        alt="background graphic representing flow"
        src="data:image/svg+xml,%3Csvg width='1876' height='623' viewBox='0 0 1876 623' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1824_816)'%3E%3Cpath d='M1871.03 308.6L1870.05 308.253C1866.79 307.102 1863.24 308.797 1862.09 312.054L1806.32 469.786C1805.17 473.043 1806.87 476.591 1810.12 477.742L1811.11 478.089C1814.36 479.24 1817.91 477.545 1819.06 474.288L1874.83 316.556C1875.98 313.299 1874.29 309.751 1871.03 308.6Z' fill='url(%23paint0_linear_1824_816)'/%3E%3Cpath d='M1821.25 291.01L1820.27 290.663C1817.01 289.512 1813.46 291.207 1812.31 294.464L1756.54 452.196C1755.39 455.452 1757.09 459.001 1760.35 460.152L1761.33 460.498C1764.58 461.649 1768.13 459.954 1769.29 456.698L1825.05 298.966C1826.2 295.709 1824.51 292.161 1821.25 291.01Z' fill='url(%23paint1_linear_1824_816)'/%3E%3Cpath d='M1771.47 273.419L1770.49 273.073C1767.23 271.922 1763.68 273.617 1762.53 276.873L1706.76 434.606C1705.61 437.862 1707.31 441.41 1710.56 442.561L1711.54 442.908C1714.8 444.059 1718.35 442.364 1719.5 439.108L1775.27 281.375C1776.42 278.119 1774.72 274.57 1771.47 273.419Z' fill='url(%23paint2_linear_1824_816)'/%3E%3Cpath d='M1721.68 255.833L1720.7 255.486C1717.45 254.335 1713.9 256.03 1712.74 259.287L1656.98 417.019C1655.83 420.276 1657.52 423.824 1660.78 424.975L1661.76 425.322C1665.02 426.473 1668.57 424.778 1669.72 421.521L1725.49 263.789C1726.64 260.532 1724.94 256.984 1721.68 255.833Z' fill='url(%23paint3_linear_1824_816)'/%3E%3Cpath d='M1671.9 238.243L1670.92 237.896C1667.66 236.745 1664.11 238.44 1662.96 241.697L1607.2 399.429C1606.04 402.685 1607.74 406.234 1611 407.385L1611.98 407.731C1615.24 408.882 1618.79 407.187 1619.94 403.931L1675.7 246.199C1676.86 242.942 1675.16 239.394 1671.9 238.243Z' fill='url(%23paint4_linear_1824_816)'/%3E%3Cpath d='M1622.12 220.652L1621.14 220.306C1617.88 219.155 1614.33 220.85 1613.18 224.106L1557.41 381.838C1556.26 385.095 1557.96 388.643 1561.22 389.794L1562.2 390.141C1565.45 391.292 1569 389.597 1570.16 386.34L1625.92 228.608C1627.07 225.352 1625.38 221.803 1622.12 220.652Z' fill='url(%23paint5_linear_1824_816)'/%3E%3Cpath d='M1571.89 203.035L1570.9 202.693C1567.64 201.558 1564.1 203.27 1562.96 206.532L1507.97 364.534C1506.83 367.796 1508.54 371.336 1511.81 372.471L1512.79 372.813C1516.05 373.949 1519.59 372.236 1520.73 368.974L1575.73 210.972C1576.86 207.71 1575.15 204.17 1571.89 203.035Z' fill='url(%23paint6_linear_1824_816)'/%3E%3Cpath d='M1522.02 185.688L1521.04 185.346C1517.77 184.211 1514.23 185.923 1513.1 189.185L1458.1 347.187C1456.97 350.449 1458.68 353.989 1461.94 355.125L1462.92 355.467C1466.19 356.602 1469.73 354.889 1470.86 351.627L1525.86 193.625C1527 190.363 1525.28 186.823 1522.02 185.688Z' fill='url(%23paint7_linear_1824_816)'/%3E%3Cpath d='M1472.15 168.34L1471.17 167.998C1467.91 166.863 1464.36 168.575 1463.23 171.837L1408.23 329.839C1407.1 333.101 1408.81 336.641 1412.07 337.777L1413.06 338.119C1416.32 339.254 1419.86 337.541 1421 334.279L1475.99 176.277C1477.13 173.015 1475.42 169.475 1472.15 168.34Z' fill='url(%23paint8_linear_1824_816)'/%3E%3Cpath d='M1422.29 150.993L1421.3 150.651C1418.04 149.516 1414.5 151.229 1413.36 154.491L1358.37 312.493C1357.23 315.755 1358.94 319.295 1362.21 320.43L1363.19 320.772C1366.45 321.907 1369.99 320.195 1371.13 316.933L1426.13 158.931C1427.26 155.669 1425.55 152.129 1422.29 150.993Z' fill='url(%23paint9_linear_1824_816)'/%3E%3Cpath d='M1372.42 133.647L1371.44 133.305C1368.17 132.17 1364.63 133.882 1363.5 137.144L1308.5 295.146C1307.36 298.408 1309.08 301.948 1312.34 303.084L1313.32 303.426C1316.59 304.561 1320.13 302.848 1321.26 299.586L1376.26 141.584C1377.39 138.322 1375.68 134.782 1372.42 133.647Z' fill='url(%23paint10_linear_1824_816)'/%3E%3Cpath d='M1322.55 116.301L1321.57 115.958C1318.31 114.823 1314.76 116.536 1313.63 119.798L1258.63 277.8C1257.5 281.062 1259.21 284.602 1262.47 285.737L1263.46 286.079C1266.72 287.214 1270.26 285.502 1271.4 282.24L1326.39 124.238C1327.53 120.976 1325.82 117.436 1322.55 116.301Z' fill='url(%23paint11_linear_1824_816)'/%3E%3Cpath d='M1261.63 96.8531L1260.62 96.6358C1257.24 95.9144 1253.94 98.0529 1253.21 101.43L1218.27 265.026C1217.54 268.404 1219.68 271.704 1223.06 272.425L1224.08 272.642C1227.46 273.364 1230.76 271.225 1231.48 267.848L1266.43 104.252C1267.15 100.874 1265.01 97.5744 1261.63 96.8531Z' fill='url(%23paint12_linear_1824_816)'/%3E%3Cpath d='M1176.96 93.706L1175.93 93.8621C1172.52 94.3802 1170.18 97.5463 1170.7 100.961L1195.8 266.351C1196.32 269.765 1199.49 272.097 1202.91 271.579L1203.93 271.423C1207.35 270.905 1209.68 267.739 1209.16 264.324L1184.06 98.9344C1183.54 95.5198 1180.38 93.1879 1176.96 93.706Z' fill='url(%23paint13_linear_1824_816)'/%3E%3Cpath d='M1095.28 124.302L1094.39 124.837C1091.43 126.612 1090.47 130.426 1092.25 133.388L1178.26 276.864C1180.03 279.826 1183.85 280.781 1186.81 279.006L1187.7 278.471C1190.67 276.696 1191.62 272.882 1189.85 269.92L1103.84 126.444C1102.06 123.482 1098.25 122.527 1095.28 124.302Z' fill='url(%23paint14_linear_1824_816)'/%3E%3Cpath d='M1036.95 171.179L1036.21 171.916C1033.78 174.363 1033.78 178.295 1036.23 180.733L1154.79 298.784C1157.24 301.222 1161.17 301.214 1163.61 298.767L1164.35 298.029C1166.79 295.582 1166.78 291.65 1164.33 289.213L1045.77 171.161C1043.32 168.724 1039.39 168.732 1036.95 171.179Z' fill='url(%23paint15_linear_1824_816)'/%3E%3Cpath d='M995.154 219.842L994.519 220.667C992.41 223.402 992.916 227.302 995.653 229.41L1128.21 331.508C1130.94 333.616 1134.84 333.11 1136.95 330.374L1137.59 329.55C1139.7 326.814 1139.19 322.914 1136.45 320.807L1003.9 218.709C1001.16 216.601 997.263 217.106 995.154 219.842Z' fill='url(%23paint16_linear_1824_816)'/%3E%3Cpath d='M961.189 267.48L960.607 268.343C958.678 271.208 959.431 275.067 962.297 276.996L1101.1 370.443C1103.96 372.372 1107.82 371.619 1109.75 368.755L1110.33 367.891C1112.26 365.027 1111.51 361.167 1108.65 359.238L969.845 265.791C966.98 263.862 963.119 264.615 961.189 267.48Z' fill='url(%23paint17_linear_1824_816)'/%3E%3Cpath d='M931.481 311.812L930.905 312.678C928.993 315.556 929.772 319.41 932.65 321.321L1072.05 413.874C1074.93 415.785 1078.79 415.007 1080.7 412.13L1081.27 411.263C1083.19 408.386 1082.41 404.531 1079.53 402.62L940.126 310.067C937.248 308.156 933.392 308.934 931.481 311.812Z' fill='url(%23paint18_linear_1824_816)'/%3E%3Cpath d='M902.883 354.152L902.291 355.008C900.325 357.848 901.031 361.717 903.873 363.681L1041.51 458.838C1044.35 460.802 1048.22 460.097 1050.19 457.256L1050.78 456.4C1052.74 453.56 1052.04 449.691 1049.2 447.726L911.559 352.57C908.718 350.606 904.848 351.311 902.883 354.152Z' fill='url(%23paint19_linear_1824_816)'/%3E%3Cpath d='M876.458 389.328L875.785 390.123C873.552 392.758 873.877 396.677 876.513 398.909L1004.21 507.033C1006.84 509.266 1010.76 508.941 1013 506.306L1013.67 505.511C1015.9 502.876 1015.58 498.957 1012.94 496.725L885.248 388.601C882.611 386.368 878.691 386.693 876.458 389.328Z' fill='url(%23paint20_linear_1824_816)'/%3E%3Cpath d='M848.627 419.061L847.854 419.758C845.289 422.072 845.088 425.999 847.403 428.563L959.524 552.742C961.839 555.306 965.767 555.507 968.332 553.193L969.105 552.495C971.669 550.181 971.87 546.254 969.555 543.69L857.434 419.512C855.12 416.948 851.191 416.747 848.627 419.061Z' fill='url(%23paint21_linear_1824_816)'/%3E%3Cpath d='M825.208 436.379L824.281 436.852C821.204 438.422 819.991 442.162 821.561 445.238L897.608 594.229C899.178 597.305 902.919 598.518 905.996 596.949L906.924 596.476C910.001 594.906 911.214 591.166 909.644 588.09L833.597 439.098C832.027 436.022 828.285 434.81 825.208 436.379Z' fill='url(%23paint22_linear_1824_816)'/%3E%3Cpath d='M804.262 443.857L803.23 443.996C799.806 444.455 797.419 447.58 797.878 451.003L820.126 616.803C820.585 620.226 823.711 622.612 827.135 622.153L828.167 622.014C831.591 621.555 833.978 618.43 833.519 615.007L811.272 449.207C810.812 445.784 807.686 443.398 804.262 443.857Z' fill='url(%23paint23_linear_1824_816)'/%3E%3Cpath d='M781.34 443.092L780.319 442.888C776.931 442.21 773.658 444.391 772.98 447.778L740.139 611.811C739.461 615.197 741.643 618.469 745.03 619.147L746.051 619.352C749.439 620.029 752.712 617.849 753.39 614.462L786.231 450.429C786.909 447.042 784.728 443.77 781.34 443.092Z' fill='url(%23paint24_linear_1824_816)'/%3E%3Cpath d='M750.814 432.92L749.866 432.49C746.72 431.063 743.038 432.446 741.611 435.591L672.474 587.919C671.046 591.064 672.43 594.744 675.576 596.171L676.524 596.601C679.67 598.028 683.351 596.645 684.779 593.5L753.916 441.172C755.344 438.027 753.96 434.347 750.814 432.92Z' fill='url(%23paint25_linear_1824_816)'/%3E%3Cpath d='M715.859 413.552L714.981 412.992C712.069 411.134 708.228 411.982 706.369 414.893L616.334 555.897C614.475 558.808 615.323 562.648 618.235 564.506L619.112 565.066C622.024 566.924 625.865 566.077 627.724 563.166L717.76 422.161C719.619 419.25 718.771 415.411 715.859 413.552Z' fill='url(%23paint26_linear_1824_816)'/%3E%3Cpath d='M673.323 385.356L672.456 384.779C669.581 382.864 665.724 383.636 663.808 386.51L571.021 525.734C569.106 528.609 569.878 532.465 572.754 534.38L573.62 534.957C576.495 536.872 580.352 536.1 582.268 533.225L675.055 394.001C676.971 391.127 676.198 387.271 673.323 385.356Z' fill='url(%23paint27_linear_1824_816)'/%3E%3Cpath d='M629.381 356.09L628.515 355.513C625.64 353.597 621.783 354.37 619.867 357.244L527.08 496.468C525.165 499.343 525.937 503.199 528.813 505.114L529.679 505.691C532.554 507.606 536.411 506.833 538.327 503.959L631.114 364.735C633.029 361.86 632.257 358.005 629.381 356.09Z' fill='url(%23paint28_linear_1824_816)'/%3E%3Cpath d='M585.44 326.823L584.574 326.246C581.699 324.331 577.842 325.104 575.926 327.978L483.139 467.202C481.224 470.077 481.996 473.932 484.872 475.847L485.738 476.424C488.613 478.34 492.47 477.567 494.386 474.693L587.173 335.469C589.088 332.594 588.316 328.738 585.44 326.823Z' fill='url(%23paint29_linear_1824_816)'/%3E%3Cpath d='M541.5 297.557L540.634 296.98C537.758 295.065 533.901 295.837 531.986 298.712L439.199 437.936C437.283 440.81 438.056 444.666 440.931 446.581L441.797 447.158C444.673 449.073 448.53 448.301 450.445 445.427L543.232 306.202C545.148 303.328 544.375 299.472 541.5 297.557Z' fill='url(%23paint30_linear_1824_816)'/%3E%3Cpath d='M497.563 268.291L496.697 267.714C493.821 265.799 489.964 266.571 488.049 269.446L395.262 408.67C393.346 411.544 394.119 415.4 396.994 417.315L397.86 417.892C400.736 419.807 404.593 419.035 406.508 416.16L499.295 276.936C501.211 274.062 500.439 270.206 497.563 268.291Z' fill='url(%23paint31_linear_1824_816)'/%3E%3Cpath d='M453.622 239.025L452.756 238.448C449.881 236.533 446.024 237.305 444.108 240.179L351.321 379.404C349.406 382.278 350.178 386.134 353.054 388.049L353.92 388.626C356.795 390.541 360.652 389.769 362.568 386.894L455.355 247.67C457.27 244.796 456.498 240.94 453.622 239.025Z' fill='url(%23paint32_linear_1824_816)'/%3E%3Cpath d='M409.682 209.763L408.815 209.186C405.94 207.271 402.083 208.043 400.167 210.917L307.38 350.141C305.465 353.016 306.237 356.872 309.113 358.787L309.979 359.364C312.854 361.279 316.711 360.506 318.627 357.632L411.414 218.408C413.33 215.534 412.557 211.678 409.682 209.763Z' fill='url(%23paint33_linear_1824_816)'/%3E%3Cpath d='M365.741 180.496L364.875 179.919C361.999 178.004 358.142 178.777 356.227 181.651L263.44 320.875C261.524 323.75 262.296 327.605 265.172 329.52L266.038 330.098C268.914 332.013 272.771 331.24 274.686 328.366L367.473 189.142C369.389 186.267 368.616 182.411 365.741 180.496Z' fill='url(%23paint34_linear_1824_816)'/%3E%3Cpath d='M322.757 151.448L321.896 150.863C319.041 148.918 315.176 149.651 313.231 152.506L219.03 290.777C217.085 293.632 217.818 297.495 220.674 299.439L221.535 300.025C224.39 301.969 228.255 301.236 230.2 298.382L324.401 160.111C326.346 157.256 325.612 153.393 322.757 151.448Z' fill='url(%23paint35_linear_1824_816)'/%3E%3Cpath d='M279.118 121.739L278.258 121.153C275.402 119.208 271.538 119.941 269.593 122.796L175.392 261.067C173.447 263.922 174.181 267.785 177.036 269.729L177.897 270.315C180.752 272.26 184.617 271.527 186.562 268.672L280.762 130.401C282.707 127.546 281.974 123.683 279.118 121.739Z' fill='url(%23paint36_linear_1824_816)'/%3E%3Cpath d='M235.476 92.0265L234.616 91.4407C231.76 89.4965 227.895 90.2295 225.95 93.0842L131.75 231.355C129.805 234.21 130.538 238.073 133.394 240.017L134.254 240.603C137.11 242.548 140.975 241.815 142.92 238.96L237.12 100.689C239.065 97.8342 238.332 93.9708 235.476 92.0265Z' fill='url(%23paint37_linear_1824_816)'/%3E%3Cpath d='M193.447 62.6077L192.597 62.0077C189.774 60.0164 185.898 60.6852 183.906 63.5073L87.4251 200.198C85.4332 203.02 86.1023 206.895 88.9253 208.886L89.7759 209.486C92.5989 211.477 96.4752 210.809 98.4671 207.986L194.948 71.2962C196.939 68.4741 196.27 64.599 193.447 62.6077Z' fill='url(%23paint38_linear_1824_816)'/%3E%3Cpath d='M150.308 32.1771L149.458 31.5771C146.635 29.5858 142.758 30.2547 140.766 33.0768L44.2857 169.767C42.2938 172.589 42.9629 176.464 45.7859 178.455L46.6365 179.055C49.4595 181.047 53.3358 180.378 55.3277 177.556L151.808 40.8656C153.8 38.0435 153.131 34.1684 150.308 32.1771Z' fill='url(%23paint39_linear_1824_816)'/%3E%3Cpath d='M107.169 1.74609L106.318 1.14608C103.495 -0.845221 99.6186 -0.176378 97.6267 2.64572L1.14643 139.336C-0.845488 142.158 -0.176427 146.033 2.64657 148.024L3.49718 148.624C6.32017 150.616 10.1964 149.947 12.1884 147.125L108.669 10.4345C110.661 7.61244 109.992 3.73738 107.169 1.74609Z' fill='url(%23paint40_linear_1824_816)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint6_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint7_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint8_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint9_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint10_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint11_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint12_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint13_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint14_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint15_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint16_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint17_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint18_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint19_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint20_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint21_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint22_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint23_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint24_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint25_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint26_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint27_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint28_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint29_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint30_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint31_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint32_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint33_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint34_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint35_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint36_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint37_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint38_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint39_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint40_linear_1824_816' x1='-8.06898e-07' y1='140.5' x2='1875.08' y2='395.442' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EC609C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239860F4'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_1824_816'%3E%3Crect width='1875.19' height='622.209' fill='white' transform='matrix(-1 0 0 1 1875.19 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A"
      />
    </article>

    <article class="quote">
      <p>
        We believe developers today are too distracted, not by choice, but due
        to the inherent complexity of today's systems. Our vision is to allow
        every developer to effortlessly get into a state of flow, completely
        free from any disruptions.
      </p>
    </article>

    <article class="features">
      <ul>
        <Card title="Consistent">
          <Target
            weight="bold"
            size={48}
            style={{ fill: 'url(#gradient-one)' }}
            slot="icon"
          />
          <li>Consistent environments from development to production</li>
          <li>Straightforward yet powerful user experience</li>
          <li>Adoptable incrementally - start easy, grow later</li>
        </Card>
        <Card title="One-Click">
          <CursorClick
            weight="bold"
            size={48}
            style={{ fill: 'url(#gradient-two)' }}
            slot="icon"
          />
          <li>Fast 30 second new developer onboarding</li>
          <li>One-click environment setup</li>
          <li>Instantly shareable testing environments</li>
        </Card>
        <Card title="Zero-Install">
          <PlugsConnected
            weight="bold"
            size={48}
            style={{ fill: 'url(#gradient-three)' }}
            slot="icon"
          />
          <li>Zero-install remote development</li>
          <li>Seamless Git integration</li>
          <li>Versatile support for any stack pre-build or custom</li>
        </Card>
      </ul>
    </article>

    <article id="video" class="flow">
      <Video />
      <!-- <Flow /> -->
    </article>

    <article class="features">
      <section>
        <h2><Gauge weight="bold" /> Full-Speed Ahead</h2>
        <p>
          Start out with a development cluster and add more developer, testing
          and production clusters as your project grows.
        </p>
      </section>

      <Spacer size="small" />

      <Illustration type="structure" />

      <Spacer size="large" />

      <section>
        <h2><DiamondsFour weight="bold" /> App Cluster</h2>
        <p>
          An app cluster hosts your full application. It can be a single web
          server or a complicated setup with databases and microservices. Use
          our premade templates to run your favourite stack.
        </p>
      </section>

      <Spacer size="small" />

      <Illustration type="cluster" />
    </article>

    <Divider />

    <article class="templates">
      <section>
        <h2><Package weight="bold" /> Templates</h2>
        <p>
          Templates in Diploi make launching different tech stacks easy. Simply
          pick a template and you're already ready to develop. No setup
          necessary!
        </p>
      </section>
      <Templates />
    </article>

    <Divider />

    <article class="statistic">
      <section>
        <h2><Timer weight="bold" /> Save Time and Resources</h2>
        <p>
          These are real-life statistics from a web development company. Can you
          afford to ignore the benefits and possible savings from using Diploi?
        </p>
      </section>

      <Chart
        title="Starting a new project"
        description="in minutes avg"
        bars={[
          { title: 'Diploi', value: 7 },
          { title: 'Containerized', value: 115, comparison: 24 },
          { title: 'Traditional', value: 68, comparison: 14 },
        ]}
      />
      <Chart
        title="Onboarding a new developer"
        description="in minutes avg"
        bars={[
          { title: 'Diploi', value: 10 },
          { title: 'Containerized', value: 45, comparison: 4 },
          { title: 'Traditional', value: 92, comparison: 10 },
        ]}
      />
      <Chart
        title="Creating a new test environment"
        description="in minutes avg"
        bars={[
          { title: 'Diploi', value: 10 },
          { title: 'Containerized', value: 62, comparison: 6 },
          { title: 'Traditional', value: 115, comparison: 11 },
        ]}
      />
      <Chart
        title="Updating production"
        description="in minutes avg"
        bars={[
          { title: 'Diploi', value: 3.5 },
          { title: 'Containerized', value: 6, comparison: 2 },
          { title: 'Traditional', value: 16, comparison: 5 },
        ]}
        max={16}
      />

      <p class="saved on-scroll">
        <span>This means, that on average, Diploi saves</span>
        <strong>300 h</strong>
        <span>for every developer, every year.</span>
      </p>
    </article>

    <article class="callout">
      <section>
        <h2><AirplaneTakeoff weight="bold" /> Get Started</h2>
        <p>
          Sign up using your GitHub account and receive 50 € in free credits to
          explore and experiment with. Development is about to get
          <span class="text-gradient">magical</span>.
        </p>

        <a
          class="button"
          data-event="signup_click"
          href="https://console.diploi.com/sign-up"
          ><HandWaving weight="fill" />Sign Up →</a
        >
      </section>
    </article>
  </main>

  <Footer />
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size:;
  }

  article,
  section,
  footer {
    width: 100%;
    max-width: 900px;
  }

  h2 {
    display: flex;
    align-items: center;
    gap: 0.6ch;
  }

  h2 > svg {
    fill: url(#gradient-three);
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    min-height: 800px;
  }

  .hero > :global(svg) {
    flex-shrink: 0;
  }

  .hero > h1 {
    margin-bottom: 0;
    font-size: var(--font-header-size);
    font-weight: bold;
    font-family: var(--font-header);
    line-height: 1.2;
  }

  .hero > p {
    margin-bottom: 64px;
  }

  .hero > div {
    display: flex;
    gap: 16px;
  }

  @media (max-width: 900px) {
    .hero {
      min-height: 600px;
    }

    .hero > div {
      flex-direction: column;
    }
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .pipeline {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(35%) rotate(-50deg) scale(0.5);
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }

  @media (max-width: 1000px) {
    .pipeline {
      display: none;
    }
  }

  .quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
  }

  .quote > p {
    font-size: 1.17em;
  }

  .quote > p::before,
  .quote > p::after {
    opacity: 0.5;
  }

  .quote > p::before {
    content: '“';
  }

  .quote > p::after {
    content: '”';
  }

  .features {
    margin-bottom: 64px;
  }

  .features,
  .flow {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
  }

  .features ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px;
    margin: 0;
    margin-top: 32px;
    padding: 0;
  }

  @media (max-width: 1000px) {
    .features ul {
      grid-template-columns: 1fr;
    }
  }

  .arrow {
    margin: 64px 0;
  }

  .flow > section {
    position: relative;
    /* margin-top: -128px; */
  }

  .flow > section > * {
    position: relative;
    z-index: 1;
  }

  @media (max-width: 800px) {
    .flow > section {
      margin-top: 0;
    }
  }

  .templates {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
  }

  .templates > section {
    margin-bottom: 64px;
    max-width: 900px;
  }

  .statistic {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .statistic > .saved {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 64px 0;
    text-align: center;
  }

  .statistic > .saved > strong {
    position: relative;
    font-size: 9.052rem;
    font-weight: 900;
    line-height: 1.1;
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .statistic > .saved > strong::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/starfield.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

    transform: scale(1);
    opacity: 0;

    transition:
      transform 1s ease,
      opacity 1s ease;
  }

  .statistic > .saved.visible > strong::after {
    transform: scale(2.8);
    opacity: 0.2;
  }

  @media (max-width: 1000px) {
    .statistic > .saved > strong {
      font-size: 6.052rem;
    }

    .statistic > .saved > strong::after {
      display: none;
    }
  }

  .callout {
    position: relative;
    margin-top: 128px;
  }

  .callout h2 {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 0;
  }

  .callout h2 > svg {
    fill: url(#gradient-three);
  }

  .callout::after {
    content: '';
    display: block;
    position: absolute;
    top: -48px;
    left: -48px;
    width: calc(100% + 96px);
    height: calc(100% + 96px);
    border-radius: 24px;
    background-image: linear-gradient(
      -45deg,
      var(--color-primary),
      var(--color-secondary)
    );
    opacity: 0.1;
    z-index: -1;
  }

  .callout form {
    display: flex;
    gap: 16px;
  }

  @media (max-width: 900px) {
    .callout::after {
      display: none;
    }

    .callout form {
      flex-direction: column;
    }
  }
</style>
