---
import Layout from '../layouts/Layout.astro';
import {
  SectionHeader,
  Section,
  Footer,
  ContactUsCard,
  GetStarted,
  PricingType,
  PricingTable,
  Navigation,
  PageTitle,
  Plans,
} from '../components';

const { pricing } = await fetch('https://console.diploi.com/api/business/pricing').then((response) => response.json());
if (!pricing) {
  throw new Error(`Failed to load pricing (${pricing.status})`);
}
---

<Layout title="Diploi – Pricing">
  <Navigation selected="pricing" />
  <main>
    <Section>
      <div class="pricing-cards">
        <PageTitle tagText="Pricing" title="Find the plan that fits your needs" />
        <Plans pricing={pricing} />
      </div>

      <hr />

      <Section>
        <SectionHeader
          title="Single App Cluster Costs"
          highlightedText="Single App"
          description="A single App Cluster will run all the resources your application stack needs, such as webservers, databases, Redis, and more."
          descriptionSuffix="You will only be charged for the hours your cluster is running."
        />

        <PricingType pricing={pricing} />
        <PricingTable pricing={pricing} />
      </Section>
      <hr />
      <Section>
        <div class="callout">
          <GetStarted />
          <ContactUsCard />
        </div>
      </Section>
    </Section>
  </main>
  <Footer />
</Layout>

<style lang="scss">
  @use '../styles/mixins';

  .pricing-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-huge);
  }

  .callout {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
    @include mixins.respond-to('tablet') {
      flex-direction: row;
      gap: var(--space-l);
    }
  }
</style>
