---
import { getEntry, render } from 'astro:content';
import { Footer, PageTitle, Section } from '../components';
import Navigation from '../components/Navigation/Navigation.astro';
import Layout from '../layouts/Layout.astro';

const documentTOS = await getEntry('legal', 'privacy');
if (!documentTOS) {
  throw new Error('Error loading terms of service');
}
const { Content } = await render(documentTOS);
---

<Layout
  title="Diploi - Privacy Policy"
  description="This document explains how we collect, use and protect all user data when visiting or using our platform, and defines your rights as a user."
>
  <Navigation />
  <main>
    <Section isNarrow>
      <PageTitle tagText="Privacy" title={documentTOS.data.title} />
      <p>
        {documentTOS.data.description}
      </p>
      <div class="info">
        <p>
          Last updated
          {
            new Date(documentTOS.data.timestamp).toLocaleDateString('en-US', {
              month: 'long',
              day: 'numeric',
              year: 'numeric',
            })
          }
        </p>
      </div>
      <article class="article">
        <Content />
      </article>
    </Section>
  </main>
  <Footer />
</Layout>

<style>
  p {
    max-width: unset;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  .article {
    max-width: 768px;

    p {
      max-width: 100%;
      margin-bottom: 16px;
      color: #d8d9d9;
    }

    a {
      text-decoration: underline;
    }

    li {
      font-weight: 300;
      font-size: 20px;
      &::marker {
        font-weight: bold;
      }
    }

    hr {
      display: flex;
      justify-content: center;
      border: none;
      margin: 40px 0;
      &::before {
        content: '⁂';
        color: white;
        opacity: 0.2;
      }
    }
  }
</style>
