---
import Layout from '../../layouts/Layout.astro';
import GlobalStyles from '../../components/GlobalStyles.astro';
import { Lifecycle } from '../../components/react/Lifecycle';
import {
  Navigation,
  DeveloperFaq,
  FeatureMasonry,
  FeatureCards,
  GetStarted,
  Footer,
  Section,
  SubSection,
  Chart,
  ImpactMetric,
  EffortlessDevelopment,
  Video,
} from '../../components';
import { featureCards, chart, content } from '../../content';
import StackBuilder from '../../components/StackBuilder/StackBuilder.astro';
---

<GlobalStyles />
<Layout title="Diploi – Magical Developer Experience">
  <Navigation />
  <main>
    <slot name="hero" />
    <Section id="StackBuilder" {...content.pickStack}>
      <StackBuilder />
    </Section>
    <hr />
    <Section {...content.develop}>
      <Video />
      <EffortlessDevelopment {...content.develop.effortlessDevelopment} />
      <FeatureMasonry />
      <SubSection {...content.develop.developerFaq}>
        <DeveloperFaq />
      </SubSection>
    </Section>
    <hr />
    <Section {...content.publishApp} isWide>
      <Lifecycle client:visible={{ rootMargin: '600px' }} />
    </Section>
    <hr />
    <Section {...content.timeAndResources}>
      <FeatureCards items={featureCards} />
      <Chart {...chart.newProjectStartUp} />
      <Chart {...chart.developerOnboarding} />
      <Chart {...chart.creatingTestEnvironment} />
      <Chart {...chart.updatingProduction} />
      <ImpactMetric {...content.timeAndResources.impactMetric} />
    </Section>
    <Section>
      <GetStarted />
    </Section>
  </main>
</Layout>
<Footer />
