---
import {
  Chart,
  DeveloperFaq,
  EffortlessDevelopment,
  FeatureCards,
  FeatureMasonry,
  Footer,
  ImpactMetric,
  Section,
  SubSection,
  Video,
} from '../../components';
import GlobalStyles from '../../components/GlobalStyles.astro';
import Navigation from '../../components/Navigation/Navigation.astro';
import StackBuilder from '../../components/StackBuilder/StackBuilder.astro';
import { Lifecycle } from '../../components/react/Lifecycle';
import { chart, content, featureCards } from '../../content';
import Layout from '../../layouts/Layout.astro';
import FeaturesCallouts from '../features/_components/FeaturesCallouts.astro';
import LandingShowcases from './_components/LandingShowcases.astro';

interface Props {
  title?: string;
  description?: string;
}

const defaultTitle = 'Diploi - The App Development and Deployment Platform for Busy Developers';
const defaultDescription =
  'Diploi is a platform that lets you build apps using cloud development environments and host them online with a single click, without configuring servers manually.';

const { title = defaultTitle, description = defaultDescription } = Astro.props;
---

<GlobalStyles />
<Layout title={title} description={description}>
  <slot name="head" slot="head" />
  <Navigation />
  <main>
    <slot name="hero" />
    <LandingShowcases />
    <Section id="StackBuilder" {...content.pickStack}>
      <StackBuilder />
    </Section>
    <hr />
    <Section {...content.develop}>
      <Video />
      <EffortlessDevelopment {...content.develop.effortlessDevelopment} />
      <FeatureMasonry />
      <SubSection {...content.develop.developerFaq}>
        <DeveloperFaq page="homepage" />
      </SubSection>
    </Section>
    <hr />
    <Section {...content.publishApp} isWide>
      <Lifecycle client:visible={{ rootMargin: '600px' }} />
    </Section>
    <hr />
    <Section {...content.timeAndResources}>
      <FeatureCards items={featureCards} />
      <Chart {...chart.newProjectStartUp} />
      <Chart {...chart.developerOnboarding} />
      <Chart {...chart.creatingTestEnvironment} />
      <Chart {...chart.updatingProduction} />
      <ImpactMetric {...content.timeAndResources.impactMetric} />
    </Section>
    <FeaturesCallouts />
  </main>
</Layout>
<Footer />
