---
import { ArrowRightIcon } from '@phosphor-icons/react';
import Icon from './Icon.astro';

const calendlyUrl = import.meta.env.VITE_CALENDLY_URL;
---

<article class="large">
  <div class="title-and-description">
    <h2 id="contact-us">
      <Icon isGradient name="ChatsCircle" isGradient sizeRem={3} /> Contact Us
    </h2>
    <p>
      If you're considering our Pro or Enterprise tiers, feel free to reach out to us directly. We're here to answer your questions and
      assist with upgrading your account.
    </p>

    <a href="mailto:hello@diploi.com" class="email">hello@diploi.com</a>
  </div>

  <a class="button" data-event="calendly_click" href={calendlyUrl} target="_blank"
    >Book a Demo
    <ArrowRightIcon weight="bold" />
  </a>
</article>

<style lang="scss">
  @use '../styles/mixins';

  article {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
    padding: 48px;
    border: 1px solid transparent;
    border-radius: var(--border-radius-medium);
    background:
      linear-gradient(to bottom right in lab, color-mix(in lab, var(--color-border), var(--color-bg) 85%), var(--color-bg)) padding-box,
      conic-gradient(var(--color-border), var(--color-bg), var(--color-border)) border-box;

    @include mixins.respond-to('tablet') {
      align-items: flex-start;
    }

    h2 {
      display: flex;
      align-items: center;
      gap: var(--space-l);
    }
  }

  .email {
    font-size: 1.25rem;
  }
</style>
