---
import { X } from '@phosphor-icons/react';
import Words from './Words.astro';
---

<figure class="on-scroll">
  <p>
    FLOW
    <X />
  </p>
  <Words />
</figure>

<style>
  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  figure > p {
    position: absolute;
    font-size: 4.052rem;
    font-weight: bold;
    font-family: var(--font-header);
    opacity: 1;
    transform: translateY(-40px);

    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  figure > p > :global(svg) {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-secondary);
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;

    transition: opacity 1.5s ease;
  }

  figure.visible > p > :global(svg) {
    opacity: 1;
  }

  figure > :global(svg) {
    width: 100%;
    transform: scale(1.3);
  }

  @media (max-width: 900px) {
    figure {
      margin-top: 128px;
    }

    figure > :global(svg) {
      width: 80%;
    }
  }

  @keyframes in {
    0% {
      transform: scale(0.7);
      opacity: 0;
    }
    10% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  figure > :global(svg) > :global(g) > :global(g) {
    transform-origin: 50% 50%;
    transform: scale(0.7);
    opacity: 0;
  }

  figure.visible > :global(svg) > :global(g) > :global(g) {
    animation: in 5s ease;
  }

  figure.done > :global(svg) > :global(g) > :global(g) {
    transform: scale(1);
    opacity: 1;
  }
</style>
