<footer>
  <p>Built with ❤️ by Diploi</p>
</footer>

<style>
  footer {
    margin: auto;
    margin-top: 128px;
    width: 100%;
    max-width: 900px;
    font-size: 0.64rem;
    text-align: center;
    color: white;
  }

  footer p {
    max-width: 100%;
    opacity: 0.5;
  }
</style>
