---
import { ArrowUpRightIcon, PhoneIcon, RocketLaunchIcon } from '@phosphor-icons/react';
import Icon from './Icon.astro';
import Logo from './Logo.astro';
import Tag from './Tag.astro';

const calendlyUrl = import.meta.env.VITE_CALENDLY_URL;

import { getCollection } from 'astro:content';
const alternatives = (await getCollection('alternative'))
  .sort((a, b) => a.data.competitor.localeCompare(b.data.competitor))
  .map((entry) => ({
    href: `/alternative/${entry.data.slug}`,
    competitor: entry.data.competitor,
  }));
---

<footer>
  <div>
    <div class="footer-content">
      <div class="logo-and-socials">
        <Logo class="footer-logo" />
        <a class="launch-week" data-event="footer_launchweek_click" href="/launchweek">
          <Tag><RocketLaunchIcon weight="fill" /> Launch Week <ArrowUpRightIcon /></Tag>
        </a>
      </div>
      <div class="clickable">
        <ul class="links">
          <label>Product</label>
          <li>
            <a data-event="pricing_click" href="/pricing">Pricing</a>
          </li>
          <li>
            <a data-event="blog_click" href="/blog">Blog</a>
          </li>
          <li>
            <a data-event="jobs_click" href="/jobs">Jobs</a>
          </li>
          <li>
            <a data-event="documentation_click" href="https://docs.diploi.com/">Documentation</a>
          </li>
          <li>
            <a data-link="login" data-event="login_click" href="https://console.diploi.com/login">Login / Sign Up</a>
          </li>
        </ul>

        {
          alternatives && alternatives.length > 0 && (
            <ul class="links">
              <label>Alternative to</label>
              {alternatives.map((alternative) => {
                return (
                  <li>
                    <a href={alternative.href}>{alternative.competitor}</a>
                  </li>
                );
              })}
            </ul>
          )
        }

        <ul class="links">
          <label>Legal</label>
          <li>
            <a href="/privacy">Privacy Policy</a>
          </li>
          <li>
            <a href="/tos">Terms of Service</a>
          </li>
        </ul>

        <address>
          <label>Contact</label>
          <a href="mailto:hello@diploi.com" class="mail">hello@diploi.com</a>
          <a data-event="calendly_click" href={calendlyUrl} target="_blank"><PhoneIcon /> Book a Demo</a>
        </address>
        <ul class="links socials">
          <label>Socials</label>
          <li>
            <Icon name="GithubLogo" class="footer-social-link-icon github" />
            <a data-event="github_click" href="https://github.com/diploi">GitHub</a>
          </li>
          <li>
            <Icon name="DiscordLogo" class="footer-social-link-icon discord" />
            <a data-event="discord_click" target="_blank" href="https://discord.gg/vvgQxVjC8G">Discord</a>
          </li>
          <li>
            <Icon name="Butterfly" class="footer-social-link-icon bluesky" />
            <a data-event="bluesky_click" href="https://bsky.app/profile/diploi.com">Bluesky</a>
          </li>
          <li>
            <Icon name="LinkedinLogo" class="footer-social-link-icon linkedin" />
            <a data-event="linkedin_click" href="https://www.linkedin.com/company/diploidev/">LinkedIn</a>
          </li>
          <li>
            <Icon name="DevToLogo" class="footer-social-link-icon devto" />
            <a data-event="devto_click" href="https://dev.to/diploi">Dev.to</a>
          </li>
          <li>
            <Icon name="YoutubeLogo" class="footer-social-link-icon youtube" />
            <a data-event="devto_click" href="https://www.youtube.com/@diploi">Youtube</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <p class="small builder">
        <Icon sizeRem={0.875} name="Square" weight="bold" />
        <Icon sizeRem={0.875} name="Triangle" weight="bold" />
      </p>
      <p class="small cp">
        <Icon name="Copyright" size={16} weight="light" />
        2025 Diploi Oy
      </p>
    </div>
  </div>
</footer>

<style lang="scss">
  @use '../styles/mixins';

  :global(.footer-logo) {
    width: 6rem;
  }
  footer {
    border-top: 1px solid var(--color-separator);
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: var(--space-xxl);
    margin-top: var(--space-huge);

    > div {
      max-width: var(--max-width-page-section);
      margin: 0 auto;
      width: 100%;
    }

    @include mixins.respond-to('tablet') {
      margin-top: 6rem;
    }

    p,
    a {
      font-size: 1rem;
    }
    a:not(.mail),
    p {
      color: var(--color-text-primary);
      text-decoration: none;
    }
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-huge);
    justify-content: space-between;

    @include mixins.respond-to('tablet') {
      justify-content: space-between;
    }
  }

  .logo-and-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-l);
  }

  .launch-week {
    font-weight: 500;
  }

  .clickable {
    display: flex;
    flex-direction: column;
    gap: var(--space-huge);

    @include mixins.respond-to('tablet') {
      flex-direction: row;
      gap: 6rem;
    }
  }

  address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    align-items: flex-start;
    text-style: normal;

    > p {
      color: var(--color-text-primary);
    }

    svg {
      vertical-align: sub;
      color: var(--color-text-tertiary);
    }
  }

  label {
    color: var(--color-text-secondary);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.3px;
    margin-bottom: var(--space-s);
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-s);

    &.socials {
      margin-left: auto;
      > li {
        :global(.footer-social-link-icon) {
          fill: var(--color-text-tertiary);
        }

        &:hover {
          :global(.footer-social-link-icon) {
            fill: var(--color-text-primary);
            &.devto {
              fill: rgb(59, 73, 223);
            }
            &.bluesky {
              fill: rgb(32, 139, 254);
            }
            &.linkedin {
              fill: rgb(0, 96, 151);
            }
            &.github {
              fill: white;
            }
            &.youtube {
              fill: rgb(165, 43, 43);
            }
          }
        }
      }
    }
  }

  .launch-week {
    > :global(span) {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      // margin-bottom: 16px;
      padding: 7px 10px 8px 10px;
      // border-radius: 1000px;
      color: var(--color-text-primary);
      text-decoration: none;
      z-index: 2;

      &::before {
        content: '';
        position: absolute;
        display: block;
        inset: 0;
        background:
          linear-gradient(black, black) padding-box,
          linear-gradient(45deg, var(--color-accent-primary), var(--color-accent-secondary)) border-box;
        border: 1px solid transparent;
        border-radius: 4px;
        filter: saturate(2);
        z-index: -1;
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        inset: 1px;
        background:
          radial-gradient(circle at 0, var(--color-accent-primary), transparent 100px),
          radial-gradient(circle at 100%, var(--color-accent-secondary), transparent 100px);
        border-radius: 4px;
        opacity: 0.4;
        z-index: -1;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-text-secondary);
    padding-top: var(--space-huge);
    gap: var(--space-l);
    text-align: center;

    @include mixins.respond-to('tablet') {
      flex-direction: row;
      justify-content: space-between;
      color: var(--color-text-tertiary);
    }
    p {
      color: inherit;
      font-size: 0.875rem;
      text-align: center;
    }

    > .builder {
      display: flex;
      align-items: center;
      gap: var(--space-xs);
    }

    > .cp {
      display: flex;
      align-items: center;
      justify-content: center;
      color: inherit;
      gap: var(--space-xs);
      color: var(--color-text-tertiary);

      > svg {
        fill: currentColor;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .links.socials {
      margin-left: unset;
    }
  }
</style>
