---
import { ArrowRightIcon } from '@phosphor-icons/react';
import Icon from './Icon.astro';
---

<article class="large">
  <div class="title-and-description">
    <h2>
      <Icon isGradient name="AirplaneTakeoff" sizeRem={3} />
      Get Started
    </h2>
    <p>
      Sign up using your GitHub account and receive 50 € in free credits (valid for 14 days) to explore and experiment with. Development is
      about to get
      <strong class="text-gradient">magical</strong>.
    </p>
  </div>

  <a class="button" data-event="signup_click" data-link="login" href="https://console.diploi.com/sign-up"
    >Sign Up
    <ArrowRightIcon weight="bold" />
  </a>
</article>

<style lang="scss">
  @use '../styles/mixins';

  article {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
    padding: 48px;
    border: 1px solid transparent;
    border-radius: var(--border-radius-medium);
    background:
      linear-gradient(to bottom right in lab, color-mix(in lab, var(--color-border), var(--color-bg) 85%), var(--color-bg)) padding-box,
      conic-gradient(var(--color-border), var(--color-bg), var(--color-border)) border-box;

    @include mixins.respond-to('tablet') {
      align-items: flex-start;
    }

    h2 {
      display: flex;
      align-items: center;
      gap: var(--space-l);
    }
  }

  .title-and-description {
    gap: var(--space-xl);
  }

  .callout form {
    display: flex;
    gap: 16px;
  }
</style>
