---
import { SparkleElement } from './SparkleElement';

type Props = {
  prefix: string;
  metric: string;
  suffix: string;
};
const { prefix, metric, suffix } = Astro.props;
---

<div class="impact-metric">
  <h3 class="text">
    <span>{prefix}</span>
    <SparkleElement>
      <span class="text-gradient">{metric}</span>
    </SparkleElement>
    <span>{suffix}</span>
  </h3>
</div>

<style lang="scss">
  @use '../styles/mixins';
  .impact-metric {
    padding: var(--space-xl) 0;
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-xl);
      color: var(--color-text-secondary);
      margin-bottom: 0;
    }
    .text-gradient {
      font-size: 8rem;
      font-weight: 800;
      position: relative;

      @include mixins.respond-to('tablet') {
        font-size: 10rem;
      }

      @include mixins.respond-to('laptop') {
        font-size: 12rem;
      }
    }
  }
</style>
