---
import { House, CreditCard, SignIn } from '@phosphor-icons/react';
import { BookBookmark } from '@phosphor-icons/react/dist/ssr';

interface Props {
  selected: 'home' | 'pricing';
}

const { selected } = Astro.props;

const isHome = selected === 'home';
const isPricing = selected === 'pricing';
---

<header>
  <nav>
    <a href="/" data-selected={`${isHome}`}>
      <House weight={isHome ? 'fill' : 'regular'} /> Home
    </a>
    <a href="/pricing" data-selected={`${isPricing}`}>
      <CreditCard weight={isPricing ? 'fill' : 'regular'} /> Pricing
    </a>
    <a href="https://docs.diploi.com/">
      <BookBookmark /> Documentation
    </a>
    <a href="https://console.diploi.com/">
      <SignIn /> Login
    </a>
  </nav>
</header>

<style>
  header {
    position: absolute;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  nav > a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 18px 4px 14px;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    border-radius: 64px;
  }

  nav > a[data-selected='true'] {
    background-color: #fff;
    color: var(--color-grey);
  }
</style>
