<label for="toggle">Hourly</label>
<div>
  <input id="toggle" type="checkbox" />
  <label for="toggle"></label>
</div>
<label for="toggle">Monthly</label>

<style>
  fieldset {
    display: flex;
    gap: 12px;
    margin: 0;
    padding: 0;
    border: none;
  }

  label {
    user-select: none;
    cursor: pointer;
  }

  input {
    display: none;
  }

  input[type='checkbox'] + label {
    position: relative;
    display: block;
    width: 64px;
    height: 32px;
    background-color: var(--color-primary);
    border-radius: 128px;
    cursor: pointer;
  }

  input[type='checkbox'] + label::before {
  }

  input[type='checkbox'] + label::after {
    content: '';
    position: absolute;
    display: block;
    top: 4px;
    left: 4px;
    width: calc(32px - 8px);
    height: calc(32px - 8px);
    background-color: white;
    border-radius: 128px;

    transition: left cubic-bezier(0.16, 1, 0.3, 1) 200ms;
  }

  input[type='checkbox']:checked + label::after {
    left: calc(32px + 4px);
  }
</style>
