---
import thumbnailImage from '../images/thumbnail.webp';

const embedUrl = 'https://www.youtube.com/embed/PLnAP-n_zwk?si=QWMQSUmeKMp4MZxz&autoplay=1';

const embedSrcDoc = `
  <style>
    :root {
      --color-primary: #6650fa;
      --color-secondary: #ec609c;
    }

    * {
      padding: 0;
      margin: 0;
      overflow: hidden;
    }

    html, body {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }

    body::before {
      content: '';
      position: absolute;
      display: block;
      inset: 0;
      background: linear-gradient(to bottom right, var(--color-primary), var(--color-secondary));
      z-index: 1;
      opacity: 0.2;

      pointer-events: none;
    }

    body:hover span {
      transform: scale(1.2);
    }

    body:hover img {
      transform: scale(1.01);
    }

    img, span {
      position: absolute;
      width: 100%;
      top: 0;
      margin: auto;
      opacity: 0.5;

      transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    span {
      bottom: 0;
      height: 128px;
      text-align: center;
      opacity: 1;
    }
  </style>

  <a href='${embedUrl}'>
    <img loading='lazy' src='${thumbnailImage.src}' alt='Diploi Introduction'>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="url(#gradient)" viewBox="0 0 256 256"><path d="M234.49,111.07,90.41,22.94A20,20,0,0,0,60,39.87V216.13a20,20,0,0,0,30.41,16.93l144.08-88.13a19.82,19.82,0,0,0,0-33.86ZM84,208.85V47.15L216.16,128Z"></path></svg>
    </span>
  </a>

  <svg width={0} height={0} version="1.1" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <linearGradient id="gradient">
        <stop class="start" offset="0%"></stop>
        <stop class="end" offset="100%"></stop>
      </linearGradient>
    </defs>
    <style>
      .start {
        stop-color: var(--color-secondary);
      }
      .end {
        stop-color: var(--color-primary);
      }
    </style>
  </svg>
`;
---

<article>
  <iframe
    loading="lazy"
    srcdoc={embedSrcDoc}
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    title="Diploi Introduction"></iframe>
</article>

<style>
  article {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  iframe {
    aspect-ratio: 1440/810;
    width: 100%;
    /* transform: scale(1.3); */
    border-radius: 8px;
    z-index: 1;
  }

  @media (max-width: 1600px) {
    article {
      margin-top: 64px;
      margin-bottom: 64px;
    }

    article::before {
      transform: scale(1.2);
    }

    iframe {
      transform: scale(1);
    }
  }
</style>
