---
import Footer from '../../../components/Footer.astro';
import Navigation from '../../../components/Navigation/Navigation.astro';
import { features } from '../../../content/features';
import Layout from '../../../layouts/Layout.astro';
import LovableHr from '../../lovable/_components/LovableHr.astro';
import FeaturesCallouts from '../_components/FeaturesCallouts.astro';
import TeamsGraphs from './_components/TeamsGraphs.astro';
import TeamsHero from './_components/TeamsHero.astro';
import TeamsIntegration from './_components/TeamsIntegration.astro';
import TeamsLifecycle from './_components/TeamsLifecycle.astro';
import TeamsResources from './_components/TeamsResources.astro';
import TeamsSecurity from './_components/TeamsSecurity.astro';

const feature = features.find((feature) => feature.id === 'teams')!;
---

<Layout
  title={`Diploi for ${feature.title} - ${feature.description}`}
  description="Diploi gives your team the workflow to focus on code and ship faster. Onboarding new developers now takes seconds, not days."
  ogUrlMatchCanonical={true}
>
  <Navigation />
  <main>
    <TeamsHero />
    <LovableHr />
    <TeamsIntegration />
    <LovableHr />
    <TeamsLifecycle />
    <LovableHr />
    <TeamsSecurity />
    <LovableHr />
    <TeamsGraphs />
    <LovableHr />
    <TeamsResources />
    <FeaturesCallouts hide={['teams']} />
  </main>
  <Footer />
</Layout>

<style>
  main {
    gap: 128px;

    @media (max-width: 860px) {
      gap: 64px;
    }
  }
</style>
