---
import { SparkleElement } from '../../../components';
import SmugFace from './emoji-smug.svg';
---

<div class="hero">
  <div class="background">
    <div class="face">
      <SmugFace width="auto" height="auto" />
    </div>
  </div>
  <div class="content">
    <span class="news"> Hey developer 👋</span>
    <h1 class="main-heading">
      Deploy Without DevOps,<br />
      <SparkleElement sparkleCount={4} minSize={0.5} maxSize={1.25}>Code</SparkleElement> In Your Browser
    </h1>
    <p class="subtitle">
      <span>You focus on your app, we handle the config</span>
    </p>
    <a data-event="hero_cta_click" href="#StackBuilder">
      <button>Launch Trial</button>
    </a>
  </div>
</div>

<style lang="scss">
  @use '../../../styles/mixins';

  .hero {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 40px;
    max-width: 100vw;
    height: calc(100vh - (var(--header-height-px) + var(--space-huge) + var(--main-gap) + 24px));
    min-height: 500px;
    max-height: min(100vw, 1000px);
    text-align: center;
  }

  .background {
    position: absolute;
    inset: 0;
    top: calc(var(--header-height-px) * -2);
    left: calc(var(--main-padding-x) * -1);
    right: calc(var(--main-padding-x) * -1);
    pointer-events: none;
    user-select: none;
    background-color: var(--color-primary);
    z-index: -1;
    overflow: hidden;

    // Botton border
    --size: 32px;
    --angle: 90deg;
    mask: conic-gradient(from calc(var(--angle) / -2) at bottom, #0000, #000 1deg calc(var(--angle) - 1deg), #0000 var(--angle)) 50% /
      var(--size) 100%;

    .face {
      position: absolute;
      display: flex;
      bottom: -40px;
      right: -50px;
      width: 700px;
      max-width: 100vw;
      aspect-ratio: 1;

      > svg {
        width: 100%;
        aspect-ratio: 1;
      }

      @include mixins.respond-to('mobile') {
        max-width: 50vw;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
    width: 100%;
    max-width: var(--max-width-page-section);
    margin: 0 auto;
    text-align: center;

    @include mixins.respond-to('mobile') {
      align-items: flex-start;
      text-align: left;
    }

    p {
      margin-bottom: var(--space-xxl);
      color: white;
      font-size: 1.5rem;
      opacity: 0.7;
    }

    button {
      background-color: white;
      color: var(--color-primary);
      width: fit-content;
      cursor: pointer;
    }
  }

  .news {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    padding: 6px 12px;
    border-radius: 1000px;
    color: var(--color-text-primary);
    border: 1px solid white;
    text-decoration: none;
    font-size: 1.25rem;
    z-index: 2;
  }

  .main-heading {
    position: relative;
    line-height: 1.1;
    font-weight: 700;
    font-size: 2rem;
    color: white;

    @include mixins.respond-to('mobile') {
      font-size: 4rem;
    }
  }
</style>
