---
import Footer from '../../components/Footer.astro';
import Navigation from '../../components/Navigation/Navigation.astro';
import Layout from '../../layouts/Layout.astro';
import { createWebsiteSchema } from '../../utils/createWebsiteSchema';
import FeaturesCallouts from '../features/_components/FeaturesCallouts.astro';
import AiStackBuilder from '../features/ai/_components/AiStackBuilder.astro';
import LaunchweekFeatures from './_components/LaunchweekFeatures.astro';
import LaunchweekHero from './_components/LaunchweekHero.astro';
import LaunchweekRoadmap from './_components/LaunchweekRoadmap.astro';

const schema = createWebsiteSchema();
---

<Layout
  title="Diploi - Launch Week"
  description="Launch Week is here! We're rolling out new features and components to make your development flow smoother, faster, and more magical."
  ogUrlMatchCanonical={true}
>
  {/* Organization schema for Google */}
  <script slot="head" type="application/ld+json" set:html={JSON.stringify(schema)} />

  <Navigation />
  <main>
    <LaunchweekHero slot="hero" />
    <LaunchweekRoadmap />
    <hr />
    <LaunchweekFeatures />
    <hr />
    <AiStackBuilder />
    <hr />
    <FeaturesCallouts />
  </main>
  <Footer />
</Layout>

<style>
  main {
    gap: 128px;

    @media (max-width: 860px) {
      gap: 64px;
    }
  }
</style>
