---
import { createWebsiteSchema } from '../../utils/createWebsiteSchema';
import LaunchweekHero from './_components/LaunchweekHero.astro';
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer.astro';
import Navigation from '../../components/Navigation.astro';
import LaunchweekRoadmap from './_components/LaunchweekRoadmap.astro';
import LaunchweekFeatures from './_components/LaunchweekFeatures.astro';
import AiCallouts from '../ai/_components/AiCallouts.astro';
import AiStackBuilder from '../ai/_components/AiStackBuilder.astro';

const schema = createWebsiteSchema();
---

<Layout title="Diploi – Blog">
  {/* Organization schema for Google */}
  <script slot="head" type="application/ld+json" set:html={JSON.stringify(schema)} />

  <Navigation />
  <main>
    <LaunchweekHero slot="hero" />
    <LaunchweekRoadmap />
    <hr />
    <LaunchweekFeatures />
    <hr />
    <AiStackBuilder />
    <hr & />
    <AiCallouts />
  </main>
  <Footer />
</Layout>

<style>
  main {
    gap: 128px;

    @media (max-width: 860px) {
      gap: 64px;
    }
  }
</style>
