---
import Footer from '../../components/Footer.astro';
import Navigation from '../../components/Navigation.astro';
import Layout from '../../layouts/Layout.astro';
import { createWebsiteSchema } from '../../utils/createWebsiteSchema';
import AiCallouts from '../ai/_components/AiCallouts.astro';
import LovableCallout from './_components/LovableCallout.astro';
import LovableEditors from './_components/LovableEditors.astro';
import LovableHero from './_components/LovableHero.astro';
import LovableHr from './_components/LovableHr.astro';
import LovablePacks from './_components/LovablePacks.astro';
import LovableResources from './_components/LovableResources.astro';
import LovableTeamwork from './_components/LovableTeamwork.astro';

const schema = createWebsiteSchema();
---

<Layout title="Diploi – Level Up Your Lovable Apps">
  {/* Organization schema for Google */}
  <script slot="head" type="application/ld+json" set:html={JSON.stringify(schema)} />

  <Navigation />
  <main>
    <LovableHero />
    <LovableHr />
    <LovableEditors />
    <LovableHr />
    <LovableTeamwork />
    <LovableHr />
    <LovablePacks />
    <LovableHr />
    <LovableResources />
    <LovableCallout />
    <AiCallouts />
  </main>
  <Footer />
</Layout>

<style>
  main {
    gap: 128px;

    @media (max-width: 860px) {
      gap: 64px;
    }
  }
</style>
