---
import { GitPullRequestIcon } from '@phosphor-icons/react';
import Tag from '../../../../components/Tag.astro';
import FeaturesSection from '../../_components/FeaturesSection.astro';
import FeaturesSectionHeader from '../../_components/FeaturesSectionHeader.astro';
import DevLifecycleGraph from './DevLifecycleGraph.astro';
---

<FeaturesSection>
  <FeaturesSectionHeader slot="header">
    <GitPullRequestIcon />
    <h2 id="deploy">Deploy to Production with <Tag>git push</Tag></h2>
    <p>From staging to production, Diploi manages it all. Create environments in one-click and deploy updates with a Git push.</p>
  </FeaturesSectionHeader>
  <DevLifecycleGraph />
</FeaturesSection>

<style lang="scss">
  h2 {
    display: block !important;

    > :global(span) {
      font-size: inherit;
      translate: 0 -3px;
    }
  }
</style>
