---
import { Question } from '@phosphor-icons/react';
import FeaturesHr from '../../features/_components/FeaturesHr.astro';
import FeaturesSectionHeader from '../../features/_components/FeaturesSectionHeader.astro';
import AiHeroDiploiFeatures from '../../features/ai/_components/AiHeroDiploiFeatures.astro';
import AiHeroFeatures from '../../features/ai/_components/AiHeroFeatures.astro';
---

<section class="main">
  <FeaturesSectionHeader>
    <Question />
    <h2>What is Diploi?</h2>
    <p>Diploi is the single SaaS service for managing, developing and hosting your full application.</p>
  </FeaturesSectionHeader>
  <AiHeroFeatures />
  <FeaturesHr />
  <AiHeroDiploiFeatures />
</section>

<style lang="scss">
  @use '../../../styles/mixins';

  .main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width-page-section);
  }
</style>
