@mixin sparkle-bg($scale: 3) {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/starfield.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    transform: scale($scale) rotate(45deg);
    opacity: 0.3;
  }
}
