---
import { Eye, FolderUser, LockKeyOpen } from '@phosphor-icons/react';
import AiHr from './AiHr.astro';
---

<ul>
  <li>
    <LockKeyOpen />
    <h3>No vendor lock-in</h3>
    <p>Use any tool over SSH. Use our AI features, or stick with the editors and workflows you already know.</p>
  </li>
  <AiHr vertical />
  <li>
    <FolderUser />
    <h3>Your own repository</h3>
    <p>Diploi integrates with your Git repository, so you can work with any Git-compatible tools, even outside the platform.</p>
  </li>
  <AiHr vertical />
  <li>
    <Eye />
    <h3>Open source components</h3>
    <p>
      All our stack components are open source and available on <a href="https://github.com/diploi">GitHub</a>. No black boxes, no hidden
      surprises.
    </p>
  </li>
</ul>

<style lang="scss">
  ul {
    display: flex;
    gap: 32px;

    @media (max-width: 860px) {
      flex-direction: column;
      gap: 48px;

      :global(hr) {
        display: none;
      }
    }
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  li > svg {
    width: 32px;
    height: 32px;
  }

  a {
    text-underline-offset: 4px;
    color: inherit;
  }
</style>
