---
import { ChartPie, ChartPieSlice } from '@phosphor-icons/react';
import PricingDeployments from '../../pricing/_components/PricingDeployments.astro';
import PricingTrialBanner from '../../pricing/_components/PricingTrialBanner.astro';
import AiSectionHeader from './AiSectionHeader.astro';
---

<section class="main">
  <AiSectionHeader>
    <ChartPieSlice />
    <h2 id="pricing">Simple, Predictable Pricing</h2>
    <p>Only pay for what you use. If your dev environment isn't always on, neither is the cost. Sign up & get free credits!</p>
  </AiSectionHeader>
  <section>
    <PricingTrialBanner />
    <PricingDeployments />
  </section>
</section>

<style lang="scss">
  @use '../../../styles/mixins';

  .main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width-page-section);

    section {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 48px;
    }
  }
</style>
