---
import { Compass } from '@phosphor-icons/react';
import AiSectionHeader from './AiSectionHeader.astro';
import Tag from '../../../components/Tag.astro';
---

<section class="main">
  <AiSectionHeader>
    <Compass />
    <h2>Roadmap</h2>
    <p>We are actively building our own Diploi AI features.</p>
  </AiSectionHeader>
  <ol>
    <li>
      <h3>Remote SSH support</h3>
      <time>Q4 2024</time>
      <Tag primary>Released</Tag>
    </li>
    <li>
      <h3>Built-in Browser IDE</h3>
      <time>Q4 2024</time>
      <Tag primary>Released</Tag>
    </li>
    <li>
      <h3>Official remote IDE support</h3>
      <time>Q1 2025</time>
      <Tag primary>Released</Tag>
    </li>
    <li>
      <h3>AI stack builder</h3>
      <time>Q3 2025</time>
      <Tag>Coming soon</Tag>
    </li>
    <li>
      <h3>Built-in Browser IDE AI</h3>
      <time>Q4 2025</time>
    </li>
    <li>
      <h3>AI log troubleshooter</h3>
      <time>Q4 2025</time>
    </li>
  </ol>
</section>

<style lang="scss">
  @use '../../../styles/mixins';

  .main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width-page-section);
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
</style>
