---
import {
  ContactUsCard,
  DeveloperFaq,
  Footer,
  GetStarted,
  PageTitle,
  Plans,
  PricingTable,
  PricingType,
  Section,
  SectionHeader,
} from '../../components';
import Navigation from '../../components/Navigation/Navigation.astro';
import Layout from '../../layouts/Layout.astro';
import PricingDeployments from './_components/PricingDeployments.astro';
import PricingEnterpriceBanner from './_components/PricingEnterpriceBanner.astro';
import PricingTrialBanner from './_components/PricingTrialBanner.astro';

const { pricing } = await fetch('https://console.diploi.com/api/business/pricing').then((response) => response.json());
if (!pricing) {
  throw new Error(`Failed to load pricing (${pricing.status})`);
}
---

<Layout
  title="Frequenly Asked Questions - Diploi FAQ"
  description="A list of common questions we have received, and you might want to know too."
  ogUrlMatchCanonical={true}
>
  <Navigation selected="pricing" />
  <main>
    <Section>
      <SectionHeader title="FAQ" highlightedText="FAQ" description="Things you might want to learn about us. Contact us if you need more information." />
      <DeveloperFaq page="faq" />
    </Section>
    <Section>
      <div class="callout">
        <GetStarted />
        <ContactUsCard />
      </div>
    </Section>
  </main>
  <Footer />
</Layout>

<style lang="scss">
  @use '../../styles/mixins';

  .callout {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
    @include mixins.respond-to('tablet') {
      flex-direction: row;
      gap: var(--space-l);
    }
  }

  .pricing-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-huge);

    > section {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 32px;
    }
  }

  .callout {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
    @include mixins.respond-to('tablet') {
      flex-direction: row;
      gap: var(--space-l);
    }
  }
</style>
